.facility_card {
   display: flex;
   flex-direction: column;
   gap: calc(4 * var(--scale-by-height));
   width: calc(700 * var(--scale-by-height));
   padding: calc(15 * var(--scale-by-height)) calc(20 * var(--scale-by-height));
   border-radius: calc(10 * var(--scale-by-height));
   background: #FFF;
   box-shadow: 0 calc(4 * var(--scale-by-height)) calc(10 * var(--scale-by-height)) calc(4 * var(--scale-by-height)) rgba(0, 0, 0, 0.25);
}

.card_name_buttons {
   display: flex;
   justify-content: space-between;
   align-items: flex-start;
   gap: calc(50 * var(--scale-by-height));
   margin: 0;
   margin-bottom: calc(5 * var(--scale-by-height));
}

.card_name {
   color: #22006a;
   font-size: calc(26 * var(--scale-by-height));
   font-weight: 600;
   margin: 0;
}

.button_wrapper {
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: calc(10 * var(--scale-by-height));
}

.card_button {
   color: #FFF;
   font-size: calc(22 * var(--scale-by-height));
   font-weight: 700;
   text-align: center;
   vertical-align: middle;
   padding: calc(4 * var(--scale-by-height)) calc(12 * var(--scale-by-height));
   background-color: #70D8AC;
   border: none;
   border-radius: calc(10 * var(--scale-by-height));
   cursor: pointer;
}

.button_delete {
   font-weight: 600;
   background-color: #22006a;
}

.card_info_row {
   display: flex;
   justify-content: space-between;
   align-items: flex-start;
   gap: calc(40 * var(--scale-by-height));
   margin-top: calc(5 * var(--scale-by-height)) 0;
}

.row_info_value {
   display: flex;
   color: #636363;
   font-size: calc(20 * var(--scale-by-height));
   font-weight: 400;
   margin: 0;
}

/* .resourceCapacity {
   display: flex;
} */

.value_wrapper, .card_description {
   color: #000;
   font-size: calc(20 * var(--scale-by-height));
   font-weight: 500;
}

.card_description {
   font-size: calc(20 * var(--scale-by-height));
   line-height: 105%;
}