.admin_manage_main {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: calc(40 * var(--scale-by-height));
   padding: calc(50 * var(--scale-by-height));
   height: calc(100vh - max(calc(60px * 0.6), calc(60vh * 59 / 725)));
   min-height: 665px;
   /* border: 5 px solid red; */
}

.covered_by_popup {
   opacity: 50%;
   filter: blur(4px);
   -webkit-filter: blur(4px);
}

.popup_separate {
   position: absolute;
   left: 0;
   top: max(calc(60px * 0.6), calc(60vh * 59 / 725));
   width: 100%;
   height: calc(100vh - max(calc(60px * 0.6), calc(60vh * 59 / 725)));
}

.three_options {
   display: grid;
   grid-template-columns: repeat(3, calc(170 * var(--scale-by-height)));
   align-items: center;
   justify-items: center;
   gap: calc(30 * var(--scale-by-height));
}

.options_item {
   color: #000;
   font-size: calc(28 * var(--scale-by-height));
   font-weight: 600;
   text-align: center;
   width: fit-content;
   /* line-height: 97.2%; */
   margin: 0;
   cursor: pointer;
}

.options_item#left {
   justify-self: flex-end;
}

.options_item#right {
   justify-self: flex-start;
}

.current_option {
   color: white;
   padding: calc(5 * var(--scale-by-height)) calc(15 * var(--scale-by-height));
   border-radius: calc(10 * var(--scale-by-height));
   background-color: #70D8AC;
}

.form_search {
   width: calc(400 * var(--scale-by-height));
   font-size: calc(20 * var(--scale-by-height));
   padding: calc(10 * var(--scale-by-height));
   padding-left: calc(14 * var(--scale-by-height));
   /* background: #F4F3F3; */
   border: calc(2 * var(--scale-by-height)) solid hsl(0, 0%, 90%);
   border-radius: calc(10 * var(--scale-by-height));
}

.form_search:focus {
   outline: none;
}

.manage_facility {
   display: flex;
   justify-content: space-evenly;
   gap: calc(50 * var(--scale-by-height));
   width: 100%;
}

.facility_section {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: calc(40 * var(--scale-by-height));
}

.scroll_fade {
   position: absolute;
   height: calc(30 * var(--scale-by-height));
   width: calc(725 * var(--scale-by-height));
   background: linear-gradient(0deg, rgba(255, 255, 255, 1) 5%,
             rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0.1) 100%);
   pointer-events: none;
   /* border: 2px solid red; */
}

.scroll_fade#bottom {
   bottom: calc(105 * var(--scale-by-height));
}

.scroll_fade#top {
   bottom: calc(830 * var(--scale-by-height));
   transform: scaleY(-1);
}

.section_title {
   font-size: calc(42 * var(--scale-by-height));
   font-weight: 700;
   margin: 0;
}

.card_container {
   display: flex;
   flex-direction: column;
   gap: calc(30 * var(--scale-by-height));
   overflow: auto;
   justify-content: flex-start;
   align-items: center;
   max-height: calc(750 * var(--scale-by-height));
   width: max-content;
   padding: calc(25 * var(--scale-by-height)) calc(15 * var(--scale-by-height));
   /* margin-top: 40px; */
}

.no_results {
   color: #636363;
   font-size: calc(24 * var(--scale-by-height));
   font-weight: 600;
   text-align: center;
   width: calc(700 * var(--scale-by-height));
   padding: calc(20 * var(--scale-by-height)) calc(30 * var(--scale-by-height));
   margin: 0;
   /* border-radius: 5px;
   background-color: #fff;
   box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); */
}

.section_button {
   color: #FFF;
   font-size: calc(26 * var(--scale-by-height));
   font-weight: 700;
   text-align: center;
   vertical-align: middle;
   padding: calc(5 * var(--scale-by-height)) calc(15 * var(--scale-by-height));
   background-color: #70D8AC;
   border: none;
   border-radius: calc(10 * var(--scale-by-height));
   cursor: pointer;
}