.facility_card {
   display: flex;
   flex-direction: column;
   width: 700px;
   padding: 20px;
   border-radius: 10px;
   background: #FFF;
   box-shadow: 0px 4px 10px 4px rgba(0, 0, 0, 0.25);
}

.card_name_buttons {
   display: flex;
   justify-content: space-between;
   align-items: flex-start;
   gap: 50px;
   margin: 0px;
}

.card_name {
   color: #22006a;
   font-size: 28px;
   font-weight: 600;
   margin: 0;
}

.button_wrapper {
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 10px;
}

.card_button {
   color: #FFF;
   font-family: "Barlow", sans-serif;
   font-size: 22px;
   font-weight: 700;
   text-align: center;
   vertical-align: middle;
   padding: 6px 12px;
   background-color: #70D8AC;
   border: none;
   border-radius: 10px;
   cursor: pointer;
}

.button_delete {
   font-weight: 600;
   background-color: #22006a;
}

.card_description_value {
   display: flex;
   justify-content: space-between;
   align-items: flex-start;
   gap: 100px;
   margin-top: 12px;
   margin-bottom: 5px;
}

.description_resource_capacity {
   display: flex;
   color: #636363;
   font-size: 24px;
   font-weight: 400;
   margin: 0;
}

/* .resourceCapacity {
   display: flex;
} */

.value_wrapper, .card_description {
   color: #000;
   font-size: 24px;
   font-weight: 500;
}

.card_description {
   font-size: 22px;
   line-height: 105%;
}