.chat_main {
   position: fixed;
   bottom: 0;
   left: 50vw;
   transform: translateX(-50%);
   display: flex;
   flex-direction: column;
   width: calc(450 * var(--scale-by-height-reduced));
   background-color: #fff;
   border-radius: calc(10 * var(--scale-by-height-reduced)) calc(10 * var(--scale-by-height-reduced)) 0 0;
   box-shadow: 0 calc(-2 * var(--scale-by-height-reduced)) calc(8 * var(--scale-by-height-reduced)) calc(2 * var(--scale-by-height-reduced)) rgba(0, 0, 0, 0.25);
}

.chat_header {
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: calc(12 * var(--scale-by-height-reduced)) calc(20 * var(--scale-by-height-reduced));
   border-bottom: calc(1.5 * var(--scale-by-height-reduced)) solid #636363;
   cursor: pointer;
}

.header_title {
   color: #000;
   font-size: calc(22 * var(--scale-by-height-reduced));
   font-weight: 500;
   margin: 0;
}

.header_medbot, .header_baybot {
   color: #fff;
   font-size: calc(16 * var(--scale-by-height-reduced));
   font-weight: 600;
   width: calc(115 * var(--scale-by-height-reduced));
   padding: calc(6 * var(--scale-by-height-reduced));
   background-color: #22006a;
   border: none;
   border-radius: calc(5 * var(--scale-by-height-reduced));
   margin: 0;
   cursor: pointer;
}

.header_baybot {
   color: #000;
   font-weight: 700;
   background-color: #70d8ac;
}

.header_medbot:focus, .header_baybot:focus {
   outline: none;
}

.title_message {
   color: #22006a;
   font-weight: 700;
}

.chat_contents {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   height: calc(450 * var(--scale-by-height-reduced));
   padding-right: calc(3 * var(--scale-by-height-reduced));
}

.messages_container {
   display: flex;
   flex-direction: column;
   gap: calc(5 * var(--scale-by-height-reduced));
   padding: calc(10 * var(--scale-by-height-reduced));
   width: 100%;
   max-height: calc(395 * var(--scale-by-height-reduced));
   overflow: auto;
   /* background-color: #22006a; */
}

.message_medbot, .message_baybot, .message_user {
   display: flex;
   max-width: 75%;
   color: #000;
   font-size: calc(18 * var(--scale-by-height-reduced));
   font-weight: 700;
   padding: calc(8 * var(--scale-by-height-reduced)) calc(12 * var(--scale-by-height-reduced));
   background-color: hsl(155, 57%, 85%);
   border-radius: calc(10 * var(--scale-by-height-reduced));
   align-self: flex-start;
   white-space: pre-line;
}

.message_baybot {
   /* color: #fff; */
   background-color: hsl(259, 100%, 90%);
}

.message_user {
   align-self: flex-end;
   background-color: hsl(0, 0%, 90%);
}

.message_text {
   margin: 0;
}

.chat_footer {
   position: absolute;
   bottom: calc(10 * var(--scale-by-height-reduced));
   padding-top: calc(5 * var(--scale-by-height-reduced));
   padding-left: calc(8 * var(--scale-by-height-reduced));
   display: flex;
   justify-content: space-between;
   align-items: flex-end;
   gap: calc(5 * var(--scale-by-height-reduced));
   width:97.5%;
   background-color: #fff;
}

.chat_input {
   width: 88%;
   font-family: "Barlow", sans-serif;
   font-size: calc(18 * var(--scale-by-height-reduced));
   font-weight: 500;
   padding: calc(8 * var(--scale-by-height-reduced));
   padding-left: calc(12 * var(--scale-by-height-reduced));
   border: calc(2 * var(--scale-by-height-reduced)) solid hsl(0, 0%, 90%);
   border-radius: calc(10 * var(--scale-by-height-reduced));
   max-height: calc(97 * var(--scale-by-height-reduced));
   resize: none;
}

.input_disabled {
   background-color: hsl(0, 0%, 90%);
}

.chat_input:focus {
   outline: none;
}

.chat_send {
   color: #000;
   font-size: calc(16 * var(--scale-by-height-reduced));
   font-weight: 700;
   height: fit-content;
   padding: calc(8 * var(--scale-by-height-reduced)) calc(5 * var(--scale-by-height-reduced));
   margin-bottom: calc(3 * var(--scale-by-height-reduced));
   border: none;
   background-color: #70d8ac;
   border-radius: calc(10 * var(--scale-by-height-reduced));
   cursor: pointer;
}

.send_baybot {
   color: #fff;
   font-weight: 600;
   background-color: #22006a;
}

.dark {
   background-color: #252525;
   color: #aaaaaa;
}

.dark .header_title {
   color: #fff;
}

.dark .chat_footer, .dark .chat_input {
   background-color: #252525;
   color: #fff;
}

.dark .header_medbot, .dark .send_baybot {
   background-color: hsl(259, 80%, 35%);
}

@media only screen and ((max-aspect-ratio: 3 / 8) or (max-width: 380px)) {

   .chat_main {
      width: 95vw;
   }
}