.chat_main {
   position: fixed;
   bottom: 0;
   right: 100px;
   display: flex;
   flex-direction: column;
   width: 350px;
   background-color: #fff;
   border-radius: 10px 10px 0 0;
   box-shadow: 0 -2px 8px 2px rgba(0, 0, 0, 0.25);
}

.chat_header {
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 12px 20px;
   border-bottom: 1.5px solid #636363;
   cursor: pointer;
}

.header_title {
   color: #000;
   font-size: 20px;
   font-weight: 500;
   margin: 0;
}

.header_medbot, .header_baybot {
   color: #fff;
   font-size: 15px;
   font-weight: 600;
   width: 100px;
   padding: 6px;
   background-color: #22006a;
   border: none;
   border-radius: 5px;
   margin: 0;
   cursor: pointer;
}

.header_baybot {
   color: #000;
   font-weight: 700;
   background-color: #70d8ac;
}

.header_medbot:focus, .header_baybot:focus {
   outline: none;
}

.title_message {
   color: #22006a;
   font-weight: 700;
}

.chat_contents {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   height: 300px;
   padding-right: 3px;
}

.messages_container {
   display: flex;
   flex-direction: column;
   gap: 5px;
   padding: 10px;
   width: 100%;
   max-height: 245px;
   overflow: auto;
   /* background-color: #22006a; */
}

.message_medbot, .message_baybot, .message_user {
   display: flex;
   max-width: 70%;
   color: #000;
   font-size: 16px;
   font-weight: 700;
   padding: 8px 12px;
   background-color: hsl(155, 57%, 85%);
   border-radius: 10px;
   align-self: flex-start;
}

.message_baybot {
   /* color: #fff; */
   background-color: hsl(259, 100%, 90%);
}

.message_user {
   align-self: flex-end;
   background-color: hsl(0, 0%, 90%);
}

.message_text {
   margin: 0;
}

.chat_footer {
   position: absolute;
   bottom: 5px;
   padding-top: 5px;
   padding-left: 8px;
   display: flex;
   justify-content: space-between;
   align-items: flex-end;
   gap: 5px;
   width:97.5%;
   background-color: #fff;
}

.chat_input {
   width: 85%;
   font-family: "Barlow", sans-serif;
   font-size: calc(16 * var(--scale-by-height));
   font-weight: 500;
   padding: calc(8 * var(--scale-by-height));
   padding-left: calc(12 * var(--scale-by-height));
   border: calc(2 * var(--scale-by-height)) solid hsl(0, 0%, 90%);
   border-radius: calc(10 * var(--scale-by-height));
   resize: none;
}

.input_disabled {
   background-color: hsl(0, 0%, 90%);
}

.chat_input:focus {
   outline: none;
}

.chat_send {
   color: #000;
   font-size: 16px;
   font-weight: 700;
   height: fit-content;
   padding: 8px 5px;
   margin-bottom: 2px;
   border: none;
   background-color: #70d8ac;
   border-radius: 10px;
   cursor: pointer;
}

.send_baybot {
   color: #fff;
   font-weight: 600;
   background-color: #22006a;
}