* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Barlow", sans-serif;
}

button {
  font-family: "Barlow", sans-serif;
}

::-webkit-scrollbar {
  width: max(6px * 0.8, calc(6vh * 59 / 725));
}
 
::-webkit-scrollbar-thumb {
  background: #BFBFBF;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #636363; 
}

html {
  --scale-by-height: max(0.6px, calc(1vh * 59 / 725));
  
  --scale-by-width: max(0.6px, calc(1vw * 59 / 725));
}