* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Barlow", sans-serif;
}

button {
  font-family: "Barlow", sans-serif;
}

::-webkit-scrollbar {
  width: 6px;
}
 
::-webkit-scrollbar-thumb {
  background: #BFBFBF;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #636363; 
}

html {
  --scale-by-height: max(0.6px, calc(1vh * 59 / 725));
  
  --scale-by-width: max(0.3px, calc(1vw * 59 / 725));
}

@media only screen and ((max-aspect-ratio: 5 / 8) or (max-width: 450px)) {

  ::-webkit-scrollbar {
    width: calc(6 * var(--scale-by-width) * (8/5));
  }
   
  ::-webkit-scrollbar-thumb {
    border-radius: calc(5 * var(--scale-by-width) * (8/5));
  }
}