.human_body {
   width: calc(207 * var(--scale-by-height));
   position: relative;
   height: calc(260 * var(--scale-by-height));
   display: flex;
   margin-top: calc(15 * var(--scale-by-height));
}

.human_body svg:hover {
   cursor: pointer;
}

.human_body svg:hover path {
   fill: #70D8AC;
}

.human_body svg {
   position: absolute;
   fill: #22006a;
}

.human_body svg.part_selected {
   fill: #70D8AC;
}

.human_body svg#head {
   width: calc(56.5 * var(--scale-by-height));
   height: calc(95 * var(--scale-by-height));
   left: calc(-28.5 * var(--scale-by-height));
   top: calc(-6 * var(--scale-by-height));
}

.human_body svg#left_shoulder {
   width: calc(109.5 * var(--scale-by-height));
   height: calc(46.5 * var(--scale-by-height));
   left: calc(-53.5 * var(--scale-by-height));
   top: calc(69 * var(--scale-by-height));
}

.human_body svg#right_shoulder {
   width: calc(109.5 * var(--scale-by-height));
   height: calc(46.5 * var(--scale-by-height));
   left: calc(13.5 * var(--scale-by-height));
   top: calc(69 * var(--scale-by-height));
}

.human_body svg#left_arm {
   width: calc(156.5 * var(--scale-by-height));
   height: calc(119 * var(--scale-by-height));
   left: calc(-78 * var(--scale-by-height));
   top: calc(112 * var(--scale-by-height));
}

.human_body svg#right_arm {
   width: calc(156.5 * var(--scale-by-height));
   height: calc(119 * var(--scale-by-height));
   left: calc(38 * var(--scale-by-height));
   top: calc(112 * var(--scale-by-height));
   z-index: 10001;
}

.human_body svg#chest {
   width: calc(86.5 * var(--scale-by-height));
   height: calc(45 * var(--scale-by-height));
   left: calc(-43.5 * var(--scale-by-height));
   top: calc(88 * var(--scale-by-height));
}

.human_body svg#stomach {
   width: calc(75 * var(--scale-by-height));
   height: calc(107.5 * var(--scale-by-height));
   left: calc(-37.5 * var(--scale-by-height));
   top: calc(130 * var(--scale-by-height));
}

.human_body svg#left_leg {
   width: calc(93.5 * var(--scale-by-height));
   height: calc(250 * var(--scale-by-height));
   left: calc(-49.5 * var(--scale-by-height));
   top: calc(202 * var(--scale-by-height));
   z-index: 9999;
}

.human_body svg#right_leg {
   width: calc(93.5 * var(--scale-by-height));
   height: calc(250 * var(--scale-by-height));
   left: calc(-2 * var(--scale-by-height));
   top: calc(202 * var(--scale-by-height));
   z-index: 9999;
}

.human_body svg#left_hand {
   width: calc(90 * var(--scale-by-height));
   height: calc(39 * var(--scale-by-height));
   left: calc(-102.5 * var(--scale-by-height));
   top: calc(224 * var(--scale-by-height));
}

.human_body svg#right_hand {
   width: calc(90 * var(--scale-by-height));
   height: calc(39 * var(--scale-by-height));
   left: calc(66.5 * var(--scale-by-height));
   top: calc(224 * var(--scale-by-height));
   z-index: 10000;
}

.human_body svg#left_foot {
   width: calc(30 * var(--scale-by-height));
   height: calc(30 * var(--scale-by-height));
   left: calc(-37.5 * var(--scale-by-height));
   top: calc(450 * var(--scale-by-height));
}

.human_body svg#right_foot {
   width: calc(82 * var(--scale-by-height));
   height: calc(85 * var(--scale-by-height));
   left: calc(10.5 * var(--scale-by-height));
   top: calc(426 * var(--scale-by-height));
}

.dark svg:hover path{
   fill: #22006a;
}

.dark svg {
   position: absolute;
   fill: #70D8AC;
}

.dark svg.part_selected{
   fill: #22006a;
}
