.form-input {
   display: flex;
   flex-direction: column;
   width: max-content;
   justify-content: flex-end;
}

.input-text {
   margin: 8px 0px;
   font-size: 24px;
}

.input-box {
   font-size: 30px;
   padding: 10px;
   padding-left: 14px;
   background: #F4F3F3;
   border: 1px solid #F4F3F3;
   border-radius: 10px;
}