.form-input {
   display: flex;
   flex-direction: column;
   width: max-content;
}

.input-text {
   margin: 8px 0px;
   font-size: 18px;
   font-weight: 400;
}

.input-box {
   font-size: 22px;
   padding: 10px;
   padding-left: 14px;
   background: #F4F3F3;
   border: 1px solid #F4F3F3;
   border-radius: 10px;
}