.forgot_password_popup {
   position: absolute;
   top: 50vh;
   left: 50vw;
   transform: translate(-50%, -50%);
   display: flex;
   flex-direction: column;
   align-items: center;
   min-height: 100px;
   width: calc(775 * var(--scale-by-height));
   /* border: 3px solid black; */
   padding: calc(50 * var(--scale-by-height)) calc(20 * var(--scale-by-height));
   gap: 25px;
   /* padding-top: calc(50 * var(--scale-by-height)); */
   border-radius: calc(15 * var(--scale-by-height));
   background: #FFF;
   box-shadow: 0 calc(4 * var(--scale-by-height)) calc(25 * var(--scale-by-height)) calc(6 * var(--scale-by-height)) rgba(0, 0, 0, 0.25);
}

.password_popup_title {
   font-weight: 500;
   font-size: 24px;
   text-align: center;
   color: rgb(34, 0, 106);
}

.input_box {
   width: max(calc(560px * 0.6), calc(560vh * 59 / 725));
   font-size: max(calc(22px * 0.6), calc(22vh * 59 / 725));
   padding: max(calc(10px * 0.6), calc(10vh * 59 / 725));
   padding-left: max(calc(14px * 0.6), calc(14vh * 59 / 725));
   background: #F4F3F3;
   border: 1px solid #F4F3F3;
   border-radius: 10px;
}

.input_box:focus {
   outline: none;
}

.submit_button {
   background-color: #70D8AC;
   color: #FFF;
   font-size: 20px;
   font-weight: 600;
   font-family: Barlow;
   width: 30%;
   padding: 7px;
   border: none;
   border-radius: 10px;
   margin-top: -10px;
   cursor: pointer;
}