.forgot_password_popup {
   position: absolute;
   top: 50vh;
   left: 50vw;
   transform: translate(-50%, -50%);
   display: flex;
   flex-direction: column;
   align-items: center;
   min-height: calc(100 * var(--scale-by-height));
   width: calc(650 * var(--scale-by-height));
   padding: calc(40 * var(--scale-by-height)) calc(20 * var(--scale-by-height));
   gap: calc(25 * var(--scale-by-height));
   border-radius: calc(15 * var(--scale-by-height));
   background: #FFF;
   box-shadow: 0 calc(4 * var(--scale-by-height)) calc(25 * var(--scale-by-height)) calc(6 * var(--scale-by-height)) rgba(0, 0, 0, 0.25);
}

.password_popup_title {
   color: #000;
   font-weight: 500;
   font-size: calc(24 * var(--scale-by-height));
   text-align: center;
}

.input_box {
   width: max(calc(560px * 0.6), calc(560vh * 59 / 725));
   font-size: max(calc(22px * 0.6), calc(22vh * 59 / 725));
   padding: max(calc(10px * 0.6), calc(10vh * 59 / 725));
   padding-left: max(calc(14px * 0.6), calc(14vh * 59 / 725));
   background: #F4F3F3;
   border: 1px solid #F4F3F3;
   border-radius: calc(10 * var(--scale-by-height));
}

.input_box:focus {
   outline: none;
}

.submit_button {
   background-color: #70D8AC;
   color: #FFF;
   font-size: calc(28 * var(--scale-by-height));
   font-weight: 700;
   width: 20%;
   padding: calc(7 * var(--scale-by-height));
   border: none;
   border-radius: calc(10 * var(--scale-by-height));
   margin-top: calc(-10 * var(--scale-by-height));
   cursor: pointer;
}

.success_text {
   color: #22006a;
   font-size: calc(18 * var(--scale-by-height));
   font-weight: 600;
   text-align: center;
   margin: 0;
}

.success_text > span {
   font-size: calc(24 * var(--scale-by-height));
}

.close {
   color: #636363;
   font-size: calc(20 * var(--scale-by-height));
   font-weight: 600;
   text-align: center;
   text-decoration: underline;
   margin: 0;
   margin-top: calc(-10 * var(--scale-by-height));
   cursor: pointer;
}

@media only screen and ((max-aspect-ratio: 5 / 8) or (max-width: 450px)) {

   .forgot_password_popup {
      min-height: calc(100 * var(--scale-by-width) * (8/5));
      width: calc(650 * var(--scale-by-width) * (8/5));
      padding: calc(40 * var(--scale-by-width) * (8/5)) calc(20 * var(--scale-by-width) * (8/5));
      gap: calc(25 * var(--scale-by-width) * (8/5));
      border-radius: calc(15 * var(--scale-by-width) * (8/5));
      box-shadow: 0 calc(4 * var(--scale-by-width) * (8/5)) calc(25 * var(--scale-by-width) * (8/5)) calc(6 * var(--scale-by-width) * (8/5)) rgba(0, 0, 0, 0.25);
   }
   
   .password_popup_title {
      font-size: calc(24 * var(--scale-by-width) * (8/5));
   }
   
   .input_box {
      width: calc(560 * var(--scale-by-width) * (8/5));
      font-size: calc(22 * var(--scale-by-width) * (8/5));
      padding: calc(10 * var(--scale-by-width) * (8/5));
      padding-left: calc(14 * var(--scale-by-width) * (8/5));
      border-radius: calc(10 * var(--scale-by-width) * (8/5));
   }
   
   .submit_button {
      font-size: calc(28 * var(--scale-by-width) * (8/5));
      padding: calc(7 * var(--scale-by-width) * (8/5));
      border-radius: calc(10 * var(--scale-by-width) * (8/5));
      margin-top: calc(-10 * var(--scale-by-width) * (8/5));
   }
   
   .success_text {
      font-size: calc(18 * var(--scale-by-width) * (8/5));
   }
   
   .success_text > span {
      font-size: calc(24 * var(--scale-by-width) * (8/5));
   }
   
   .close {
      font-size: calc(20 * var(--scale-by-width) * (8/5));
      margin-top: calc(-10 * var(--scale-by-width) * (8/5));
   }
}