.login_main {
   background-image: linear-gradient(30deg, rgba(255,255,255,1) 0%,
                     rgba(255,255,255,1) 35%, rgba(255,255,255,0.5) 65%,
                     rgba(255,255,255,0) 100%), url("../assets/login_bg4.jpg");
   background-size: cover;
   background-position: top center;
   background-attachment: fixed;
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 8.5vw;
   height: 93vh;
   min-height: 500px;
}

.login_form {
   /* width: 725px, height: 600px */
   /* width: 59vh;
   height: 49vh;
   min-width: 550px;
   min-height: 450px; */
   background-color: white;
   padding: max(calc(50px * 0.6), calc(50vh * 59 / 725)) max(calc(75px * 0.6), calc(75vh * 59 / 725));
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   box-shadow: 0px 4px 50px 20px #00000033;
   border-radius: 14px;
   font-family: "Barlow", sans-serif;
   gap: max(calc(50px * 0.6), calc(50vh * 59 / 725));
}

.form_title {
   color: #636363;
   font-size: max(calc(72px * 0.6), calc(72vh * 59 / 725));
   font-weight: 600;
   margin: 0;
   text-wrap: nowrap;
}

.login_failed {
   color: #FF0000;
   font-size: max(calc(18px * 0.6), calc(18vh * 59 / 725));
   font-weight: 500;
   margin-top: min(calc(-25px * 0.6), calc(-25vh * 59 / 725));
   margin-bottom: min(calc(-45px * 0.6), calc(-45vh * 59 / 725));
   visibility: hidden;
}

.failed_text {
   visibility: visible;
}

.form_input {
   display: flex;
   flex-direction: column;
   width: max-content;
}

.input_text {
   margin: max(calc(8px * 0.6), calc(8vh * 59 / 725)) 0;
   font-size: max(calc(18px * 0.6), calc(18vh * 59 / 725));
   font-weight: 500;
}

.input_box {
   width: max(calc(560px * 0.6), calc(560vh * 59 / 725));
   font-size: max(calc(22px * 0.6), calc(22vh * 59 / 725));
   padding: max(calc(10px * 0.6), calc(10vh * 59 / 725));
   padding-left: max(calc(14px * 0.6), calc(14vh * 59 / 725));
   background: #F4F3F3;
   border: 1px solid #F4F3F3;
   border-radius: 10px;
}

.input_box:focus {
   outline: none;
}

.failed_input {
   border-color: #FF0000;
}

.form_button {
   background: #70D8AC;
   box-shadow: 0px 4px 50px 8px #00000026;
   padding: max(calc(20px * 0.6), calc(20vh * 59 / 725)) max(calc(50px * 0.6), calc(50vh * 59 / 725));
   font-family: "Barlow", sans-serif;
   font-weight: 700;
   font-size: max(calc(40px * 0.6), calc(40vh * 59 / 725));
   color: white;
   border: 1px solid #70D8AC;
   border-radius: 14px;
}

.form_button:hover {
   cursor: pointer;
}

.extras {
   font-family: "Barlow", sans-serif;
   display: flex;
   flex-direction: column;
   justify-content: center;
   gap: max(calc(80px * 0.6), calc(80vh * 59 / 725));
}

.tagline {
   font-size: max(calc(78px * 0.6), calc(78vh * 59 / 725));
   font-weight: 600;
   letter-spacing: -0.05em;
   margin: 0;
   color: rgb(34, 0, 106);
   text-shadow: 2px 5px 5px #FFFFFF;
}

.register_container {
   display: flex;
   flex-direction: column;
   width: max-content;
   justify-content: center;
}

.register_q {
   margin: max(calc(8px * 0.6), calc(8vh * 59 / 725));
   font-size: max(calc(18px * 0.6), calc(18vh * 59 / 725));
   font-weight: 500;
}

.register_button {
   font-family: "Barlow", sans-serif;
   font-size: max(calc(24px * 0.6), calc(24vh * 59 / 725));
   font-weight: 500;
   padding: max(calc(15px * 0.6), calc(15vh * 59 / 725)) max(calc(25px * 0.6), calc(25vh * 59 / 725));
   border-radius: 12px;
   background: rgb(34, 0, 106);
   box-shadow: 0px 4px 50px 8px #00000026;
   color: white;
}

.register_button:hover {
   cursor: pointer;
}

@media only screen and ((max-aspect-ratio: 8 / 7) or (max-width: 950px)) {
   /* za testiranje
      .form_button {
      background-color: red;
   } */

   .login_main {
      flex-direction: column;
      gap: max(calc(50px * 0.6), calc(50vh * 59 / 725));
   }
   .tagline {
      display: none;
   }
   .register_q {
      text-align: center;
   }
}

@media only screen and ((max-aspect-ratio: 4 / 5) or (max-width: 550px)) {
   /* za testiranje
      .form_button {
      background-color: blue;
   } */

   .login_main {
      background-image: linear-gradient(0deg, rgba(255,255,255,0.5) 0%,
                        rgba(255,255,255,0.8) 50%, rgba(255,255,255,0.5) 100%), 
                        url("../assets/logreg_bg_mobile.jpg");
      gap: max(calc(50px * 0.3), calc(50vw * 1.25 * 59 / 725));
      min-height: 450px;
   }

   .login_form {
      padding: max(calc(50px * 0.3), calc(50vw * 1.25 * 59 / 725)) max(calc(75px * 0.3), calc(75vw * 1.25 * 59 / 725));
      gap: max(calc(50px * 0.3), calc(50vw * 1.25 * 59 / 725));
   }

   .form_title {
      font-size: max(calc(72px * 0.3), calc(72vw * 1.25 * 59 / 725));
   }

   .login_failed {
      font-size: max(calc(18px * 0.3), calc(18vw * 1.25 * 59 / 725));
      margin-top: min(calc(-25px * 0.3), calc(-25vw * 1.25 * 59 / 725));
      margin-bottom: min(calc(-45px * 0.3), calc(-45vw * 1.25 * 59 / 725));
   }

   .input_text {
      margin: max(calc(8px * 0.3), calc(8vw * 1.25 * 59 / 725)) 0;
      font-size: max(calc(18px * 0.3), calc(18vw * 1.25 * 59 / 725));
   }

   .input_box {
      width: max(calc(560px * 0.3), calc(560vw * 1.25 * 59 / 725));
      font-size: max(calc(22px * 0.3), calc(22vw * 1.25 * 59 / 725));
      padding: max(calc(10px * 0.3), calc(10vw * 1.25 * 59 / 725));
      padding-left: max(calc(14px * 0.3), calc(14vw * 1.25 * 59 / 725));
   }

   .form_button {
      padding: max(calc(20px * 0.3), calc(20vw * 1.25 * 59 / 725)) max(calc(50px * 0.3), calc(50vw * 1.25 * 59 / 725));
      font-size: max(calc(40px * 0.3), calc(40vw * 1.25 * 59 / 725));
   }

   .register_q {
      margin: max(calc(8px * 0.3), calc(8vw * 1.25 * 59 / 725));
      font-size: max(calc(18px * 0.3), calc(18vw * 1.25 * 59 / 725));
   }

   .register_button {
      font-size: max(calc(24px * 0.3), calc(24vw * 1.25 * 59 / 725));
      padding: max(calc(15px * 0.3), calc(15vw * 1.25 * 59 / 725)) max(calc(25px * 0.3), calc(25vw * 1.25 * 59 / 725));
   }
}