.patient_dash_main {
   background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.8) 20%,
               rgba(134, 113, 255, 0.4) 75%) /*,url("../assets/login_bg4.jpg")*/ ;
   background-size: cover;
   background-position: top center;
   background-attachment: fixed;
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: calc(80 * var(--scale-by-height));
   gap: 8.5vw;
   height: calc(100vh - calc(60 * var(--scale-by-height)));
   min-height: 600px
}

.covered_by_popup {
   opacity: 50%;
   filter: blur(4px);
   -webkit-filter: blur(4px);
}

.popup_separate {
   position: fixed;
   left: 0;
   top: calc(60 * var(--scale-by-height));
   width: 100%;
   height: calc(100vh - calc(60 * var(--scale-by-height)));
}

.container_left, .container_right {
   margin-bottom: calc(50 * var(--scale-by-height));
}

.container_title {
   color: #22006a;
   font-size: calc(40 * var(--scale-by-height));
   font-weight: 700;
   margin: 0;
   margin-bottom: calc(30 * var(--scale-by-height));
}

.date_wrapper {
   display: inline-flex;
   justify-content: space-between;
   align-items: center;
   margin-top: calc(-10 * var(--scale-by-height));
   width: calc(415 * var(--scale-by-height));
}

.container_date, .date_arrow {
   color: #000;
   font-size: calc(24 * var(--scale-by-height));
   font-weight: 500;
   margin: 0;
   margin-bottom: calc(10 * var(--scale-by-height));
}

.date_reset {
   width: calc(30 * var(--scale-by-height));
   height: calc(30 * var(--scale-by-height));
   margin-bottom: calc(-8 * var(--scale-by-height));
   margin-left: calc(15 * var(--scale-by-height));
}

.date_arrow, .date_reset {
   cursor: pointer;
}

.date_arrow, .date_reset {
   -webkit-user-select: none; /* Safari */
   -ms-user-select: none; /* IE 10 and IE 11 */
   user-select: none; /* Standard syntax */
}

.scroll_container {
   padding: calc(30 * var(--scale-by-height)) calc(10 * var(--scale-by-height));
   border-radius: calc(12 * var(--scale-by-height));
   background: #FFF;
   box-shadow: 0 calc(4 * var(--scale-by-height)) calc(4 * var(--scale-by-height)) 0 rgba(0, 0, 0, 0.25);
}

.schedule_card {
   display: flex;
   flex-direction: column;
   overflow: auto;
   align-items: center;
   width: max-content;
   gap: calc(25 * var(--scale-by-height));
   height: calc(750 * var(--scale-by-height));
}

.no_sessions {
   width: calc(400 * var(--scale-by-height));
   text-align: center;
   color: #656565;
   font-size: calc(24 * var(--scale-by-height));
   font-weight: 500;
   margin:  calc(320 * var(--scale-by-height)) calc(20 * var(--scale-by-height));
}

.session_card {
   display: flex;
   flex-direction: column;
   width: calc(400 * var(--scale-by-height));
   margin: 0 calc(20 * var(--scale-by-height));
   padding: calc(15 * var(--scale-by-height)) calc(20 * var(--scale-by-height));
   border-radius: calc(10 * var(--scale-by-height));
   gap: calc(5 * var(--scale-by-height));
   background: #FFF;
   box-shadow: 0 calc(4 * var(--scale-by-height)) calc(4 * var(--scale-by-height)) 0 rgba(0, 0, 0, 0.25);
   margin-bottom: calc(5 * var(--scale-by-height));
   cursor: pointer;
}

.session_passed {
   background: linear-gradient(to right, #f0f0f0, #d6d6d6);
   /* color: #6c757d; */
   font-style: italic;
   opacity: 0.75;
}

.session_selected {
   border: 3px solid #22006a;
}

.session_date {
   color: #22006a;
   font-size: calc(24 * var(--scale-by-height));
   font-weight: 500;
   margin: 0;
}

.session_time {
   color: #000;
   font-size: calc(24 * var(--scale-by-height));
   font-weight: 500;
   margin: 0;
}

.session_footer {
   display: flex;
   justify-content: space-between;
}

.session_location {
   color: #000;
   font-size: calc(20 * var(--scale-by-height));
   font-weight: 400;
   margin: 0;
}

.session_more {
   display: none;
}

.selected_session {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   padding: calc(30 * var(--scale-by-height)) calc(50 * var(--scale-by-height));
   border-radius: calc(12 * var(--scale-by-height));
   background: #FFF;
   box-shadow: 0 calc(4 * var(--scale-by-height)) calc(4 * var(--scale-by-height)) 0 rgba(0, 0, 0, 0.25);
   width: calc(700 * var(--scale-by-height));
   min-height: calc(810 * var(--scale-by-height));
}

.session_info {
   display: grid;
   grid-template-columns: calc(180 * var(--scale-by-height)) fit-content(calc(400 * var(--scale-by-height)));
   row-gap: calc(25 * var(--scale-by-height));
   column-gap: calc(10 * var(--scale-by-height));
   align-items: top;
   min-height: calc(250 * var(--scale-by-height));
}

.session_info > p {
   color: #656565;
   font-size: calc(24 * var(--scale-by-height));
   font-weight: 500;
   margin: 0;
}

.info_values {
   max-width: calc(480 * var(--scale-by-height));
}

.info_values > p {
   color: #000;
   font-size: calc(24 * var(--scale-by-height));
   font-weight: 500;
   margin: 0;
}

.session_image {
   height: calc(340 * var(--scale-by-height));
   margin: calc(20 * var(--scale-by-height)) calc(10 * var(--scale-by-height));
}

.view_map {
   display: none;
}

.session_buttons {
   display: flex;
   width: calc(515 * var(--scale-by-height));
}

.button_wrapper {
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
}

.session_button {
   width: calc(225 * var(--scale-by-height));
   height: calc(50 * var(--scale-by-height));
   color: #FFF;
   font-size: calc(24 * var(--scale-by-height));
   font-weight: 600;
   border: 0;
   margin: calc(15 * var(--scale-by-height));
   margin-bottom: calc(5 * var(--scale-by-height));
   border-radius: calc(10 * var(--scale-by-height));
   background: #70D8AC;
   cursor: pointer;
}

.button_disabled {
   background-color: #B4D6C7;
   cursor: not-allowed;
}

.notes_text, .reschedule_text {
   display: inline-block;
   width: calc(225 * var(--scale-by-height));
   margin: 0 calc(15 * var(--scale-by-height));
   color: #4A4747;
   font-size: calc(12 * var(--scale-by-height));
   font-weight: 400;
   visibility: hidden;
}

.reschedule_text {
   text-align: right;
}

.disabled_text {
   visibility: visible;
}

.session_popup {
   position: absolute;
   display: flex;
   flex-direction: column;
   left: 50vw;
   top: 50vh;
   transform: translate(-50%, -50%);
   align-items: center;
   justify-content: center;
   gap: calc(15 * var(--scale-by-height));
   font-weight: 700;
   background: #FFFFFF;
   box-shadow: calc(5 * var(--scale-by-height)) calc(8 * var(--scale-by-height)) calc(8 * var(--scale-by-height)) calc(6 * var(--scale-by-height)) rgba(0, 0, 0, 0.15);
   border-radius: calc(12 * var(--scale-by-height));
   width: max-content;
}

.popup_header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 100%;
   padding: calc(20 * var(--scale-by-height)) calc(30 * var(--scale-by-height));
   border-bottom: #656565 solid calc(1 * var(--scale-by-height));
   margin-bottom: calc(10 * var(--scale-by-height));
}

.popup_title {
   color: #000;
   font-size:  calc(32 * var(--scale-by-height));
   font-weight: 700;
   margin: 0;
}

.popup_exit {
   margin-top: calc(3 * var(--scale-by-height));
   cursor: pointer;
}

.notes_info {
   display: flex;
   justify-content: space-between;
   width: 100%;
   padding: 0 calc(30 * var(--scale-by-height));
}

.notes_info > p {
   font-size: calc(28 * var(--scale-by-height));
   font-weight: 400;
   margin: 0;
}

.notes_info span {
   font-weight: 600;
}

.notes_note {
   margin: calc(30 * var(--scale-by-height));
   margin-top: calc(15 * var(--scale-by-height));
}

.note_details {
   font-size: calc(20 * var(--scale-by-height));
   font-weight: 600;
   margin: calc(5 * var(--scale-by-height));
   color: #22006a;
}

.note_box {
   display: flex;
   background-color: hsl(0, 0%, 90%);
   border-radius: calc(5 * var(--scale-by-height));
   width: calc(700 * var(--scale-by-height));
   min-height: calc(250 * var(--scale-by-height));
   padding: calc(15 * var(--scale-by-height));
}

.note_contents {
   margin: 0;
   font-weight: 600;
   font-size: calc(20 * var(--scale-by-height));
}

.dark  {
   background: linear-gradient(180deg, rgba(25, 25, 25, 1) 10%, rgba(35, 35, 35, 0.8) 40%,
               rgba(70, 70, 110, 0.8) 85%); /* Adjust the gradient for dark mode */
   /* Other dark mode specific styles... */
}

.dark .container_title {
   color: #e0e0e0; /* Lighter color for dark mode */
   /* Other styles... */
}

.dark .scroll_container{
   background-color: #2a2a2a; /* Darker background for these elements */
   /* Other styles... */
}

.dark .session_info p, 
.dark .session_date,
.dark .container_date,
.dark .date_wrapper > *,
.dark .date_reset{
   color: #e0e0e0; /* Lighter color for dark mode */
   /* Other styles... */
}

.dark .session_card{
   background: linear-gradient(180deg, rgba(25, 25, 25, 1) 10%, rgba(35, 35, 35, 0.8) 40%,
   rgba(70, 70, 110, 0.8) 85%);; /* Darker background for these elements */
   /* Other styles... */
}

.dark .session_card:hover{
   background: linear-gradient(180deg, rgba(25, 25, 25, 1) 100%, rgba(35, 35, 35, 0.8) 40%,
   rgba(70, 70, 110, 0.8) 85%);; /* Darker background for these elements */
   /* Other styles... */
}

.dark .session_card > *{
   color: #70D8AC; /* Lighter color for dark mode */
   /* Other styles... */
}

.dark .session_card > * > *{
   color: #e0e0e0; /* Lighter color for dark mode */
   /* Other styles... */
}


.dark .session_card,
.dark .notes_text,
.dark .reschedule_text{
   color: #c9c9c9; /* Darker background for these elements */
   /* Other styles... */
}

.dark .session_button{
   background-color: var(--ljubicasta-nova); /* Darker background for these elements */
   /* Other styles... */
}

.dark .button_disabled{
   background-color: #4a4747; /* Darker background for these elements */
   /* Other styles... */
}


.dark .selected_session, 
.dark .session_popup{
   background-color: #2a2a2a; /* Darker background for these elements */
   color: #f0f0f0; /* Lighter text color for better readability */
   /* Other styles... */
}

.dark .popup_title, 
.dark .note_details{
   color: #fff;
}

.dark .note_box,
.dark .cardClass{
   background-color: #757575;
}
.dark .pop{
   background-color: #2a2a2a;
   
}

.dark .session_passed > *{
   color: #969696
   
}


@media only screen and ((max-aspect-ratio: 11 / 10) or (max-width: 815px)) {
   /* .session_card {background-color: #000;} */

   .tablet_hidden {
      display: none;
   }

   .patient_dash_main {
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      padding: calc(50 * var(--scale-by-height));
      gap: 3vh;
      height: fit-content;
      min-height: calc(100vh - calc(60 * var(--scale-by-height)));
      /* min-height: 600px */
   }

   .container_left, .container_right {
      margin-bottom: 0;
   }

   .container_title {
      margin-bottom: calc(10 * var(--scale-by-height));
   }

   .date_wrapper {
      width: calc(430 * var(--scale-by-height));
      margin-left: calc(50 * var(--scale-by-height));
      margin-right: calc(20 * var(--scale-by-height));
   }
   
   .scroll_container {
      padding: calc(10 * var(--scale-by-height));
   }

   .schedule_card {
      gap: calc(15 * var(--scale-by-height));
      height: calc(390 * var(--scale-by-height));
   }
   
   .no_sessions {
      width: calc(550 * var(--scale-by-height));
      margin: calc(150 * var(--scale-by-height)) calc(20 * var(--scale-by-height));
   }
   
   .session_card {
      padding: calc(10 * var(--scale-by-height)) calc(20 * var(--scale-by-height));
      width: calc(550 * var(--scale-by-height));
   }

   .session_footer {
      align-items: flex-start;
   }

   .session_more {
      color: #fff;
      font-size: calc(20 * var(--scale-by-height));
      font-weight: 600;
      text-decoration: none;
      width: fit-content;
      padding: calc(12 * var(--scale-by-height));
      margin: 0;
      margin-top: calc(-30 * var(--scale-by-height));
      background-color: #22006a;
      border-radius: calc(10 * var(--scale-by-height));
      cursor: pointer;
      display: block;
   }

   .selected_session {
      padding: calc(30 * var(--scale-by-height));
      width: calc(610 * var(--scale-by-height));
      gap: calc(20 * var(--scale-by-height));
      min-height: 0;
   }

   .session_info {
      min-height: 0;
      row-gap: calc(15 * var(--scale-by-height));
   }

   .session_image {
      height: calc(300 * var(--scale-by-height));
      margin: 0;
   }

   .view_map {
      display: block;
      color: #fff;
      font-size: calc(22 * var(--scale-by-height));
      font-weight: 600;
      padding: calc(5 * var(--scale-by-height)) calc(12 * var(--scale-by-height));
      background-color: #22006a;
      border: none;
      border-radius: calc(10 * var(--scale-by-height));
      cursor: pointer;
   }

   .session_buttons {
      width: calc(460 * var(--scale-by-height));
   }

   .session_button {
      width: calc(200 * var(--scale-by-height));
      height: calc(45 * var(--scale-by-height));
      margin-top: 0;
   }

   .notes_text, .reschedule_text {
      width: calc(200 * var(--scale-by-height));
   }
}

@media only screen and ((max-aspect-ratio: 5 / 8) or (max-width: 450px)) {

   .patient_dash_main {
      padding: calc(50 * var(--scale-by-width) * (8/5));
      gap: 3vh;
      height: fit-content;
   }
   
   .popup_separate {
      top: calc(60 * var(--scale-by-width) * (8/5));
      height: calc(100vh - calc(60 * var(--scale-by-width) * (8/5)));
   }
   
   .container_title {
      font-size: calc(40 * var(--scale-by-width) * (8/5));
      margin-bottom: calc(10 * var(--scale-by-width) * (8/5));
   }
   
   .date_wrapper {
      margin-top: calc(-10 * var(--scale-by-width) * (8/5));
      width: calc(430 * var(--scale-by-width) * (8/5));
      margin-left: calc(50 * var(--scale-by-width) * (8/5));
      margin-right: calc(20 * var(--scale-by-width) * (8/5));
   }
   
   .container_date, .date_arrow {
      font-size: calc(24 * var(--scale-by-width) * (8/5));
      margin-bottom: calc(10 * var(--scale-by-width) * (8/5));
   }
   
   .date_reset {
      width: calc(30 * var(--scale-by-width) * (8/5));
      height: calc(30 * var(--scale-by-width) * (8/5));
      margin-bottom: calc(-8 * var(--scale-by-width) * (8/5));
      margin-left: calc(15 * var(--scale-by-width) * (8/5));
   }
   
   .scroll_container {
      padding: calc(10 * var(--scale-by-width) * (8/5));
      border-radius: calc(12 * var(--scale-by-width) * (8/5));
      box-shadow: 0 calc(4 * var(--scale-by-width) * (8/5)) calc(4 * var(--scale-by-width) * (8/5)) 0 rgba(0, 0, 0, 0.25);
   }
   
   .schedule_card {
      height: fit-content;
      min-height: calc(285 * var(--scale-by-width) * (8/5));
      padding: calc(15 * var(--scale-by-width) * (8/5)) 0;
      gap: calc(15 * var(--scale-by-width) * (8/5));
   }
   
   .no_sessions {
      width: calc(550 * var(--scale-by-width) * (8/5));
      font-size: calc(24 * var(--scale-by-width) * (8/5));
      margin: calc(110 * var(--scale-by-width) * (8/5)) calc(20 * var(--scale-by-width) * (8/5));
   }
   
   .session_card {
      width: calc(550 * var(--scale-by-width) * (8/5));
      margin: 0 calc(20 * var(--scale-by-width) * (8/5));
      padding: calc(10 * var(--scale-by-width) * (8/5)) calc(20 * var(--scale-by-width) * (8/5));
      border-radius: calc(10 * var(--scale-by-width) * (8/5));
      gap: calc(5 * var(--scale-by-width) * (8/5));
      box-shadow: 0 calc(4 * var(--scale-by-width) * (8/5)) calc(4 * var(--scale-by-width) * (8/5)) 0 rgba(0, 0, 0, 0.25);
      margin-bottom: calc(5 * var(--scale-by-width) * (8/5));
   }
   
   .session_passed {
      background: linear-gradient(to right, #f0f0f0, #d6d6d6);
   }
   
   .session_date {
      font-size: calc(24 * var(--scale-by-width) * (8/5));
   }
   
   .session_time {
      font-size: calc(24 * var(--scale-by-width) * (8/5));
   }
   
   .session_location {
      font-size: calc(20 * var(--scale-by-width) * (8/5));
   }   
   
   .session_more {
      font-size: calc(20 * var(--scale-by-width) * (8/5));
      padding: calc(12 * var(--scale-by-width) * (8/5));
      margin: 0;
      margin-top: calc(-30 * var(--scale-by-width) * (8/5));
      border-radius: calc(10 * var(--scale-by-width) * (8/5));
   }

   .selected_session {
      padding: calc(30 * var(--scale-by-width) * (8/5));
      width: calc(610 * var(--scale-by-width) * (8/5));
      gap: calc(20 * var(--scale-by-width) * (8/5));
      min-height: calc(285 * var(--scale-by-width) * (8/5));
      border-radius: calc(12 * var(--scale-by-width) * (8/5));
      box-shadow: 0 calc(4 * var(--scale-by-width) * (8/5)) calc(4 * var(--scale-by-width) * (8/5)) 0 rgba(0, 0, 0, 0.25);
   }
   
   .session_info {
      grid-template-columns: calc(180 * var(--scale-by-width) * (8/5)) fit-content(calc(400 * var(--scale-by-width) * (8/5)));
      row-gap: calc(15 * var(--scale-by-width) * (8/5));
      column-gap: calc(10 * var(--scale-by-width) * (8/5));
      min-height: 0;
   }
   
   .session_info > p {
      font-size: calc(24 * var(--scale-by-width) * (8/5));
   }
   
   .info_values {
      max-width: calc(480 * var(--scale-by-width) * (8/5));
   }
   
   .info_values > p {
      font-size: calc(24 * var(--scale-by-width) * (8/5));
   }
   
   .session_image {
      height: calc(300 * var(--scale-by-width) * (8/5));
      margin: 0;
   }

   .tablet_hidden {
      display: initial;
   }
   
   .view_map {
      display: none;
   }
   
   .session_buttons {
      width: calc(460 * var(--scale-by-width) * (8/5));
   }
   
   .session_button {
      width: calc(200 * var(--scale-by-width) * (8/5));
      height: calc(45 * var(--scale-by-width) * (8/5));
      font-size: calc(24 * var(--scale-by-width) * (8/5));
      margin: calc(15 * var(--scale-by-width) * (8/5));
      margin-top: 0;
      margin-bottom: calc(5 * var(--scale-by-width) * (8/5));
      border-radius: calc(10 * var(--scale-by-width) * (8/5));
   }
   
   .notes_text, .reschedule_text {
      width: calc(200 * var(--scale-by-width) * (8/5));
      margin: 0 calc(15 * var(--scale-by-width) * (8/5));
      font-size: calc(12 * var(--scale-by-width) * (8/5));
   }
   
   .session_popup {
      gap: calc(15 * var(--scale-by-width) * (8/5));
      box-shadow: calc(5 * var(--scale-by-width) * (8/5)) calc(8 * var(--scale-by-width) * (8/5)) calc(8 * var(--scale-by-width) * (8/5)) calc(6 * var(--scale-by-width) * (8/5)) rgba(0, 0, 0, 0.15);
      border-radius: calc(12 * var(--scale-by-width) * (8/5));
   }
   
   .popup_header {
      padding: calc(20 * var(--scale-by-width) * (8/5)) calc(30 * var(--scale-by-width) * (8/5));
      border-bottom: #656565 solid calc(1 * var(--scale-by-width) * (8/5));
      margin-bottom: calc(10 * var(--scale-by-width) * (8/5));
   }
   
   .popup_title {
      font-size:  calc(32 * var(--scale-by-width) * (8/5));
   }
   
   .popup_exit {
      margin-top: calc(3 * var(--scale-by-width) * (8/5));
   }
   
   .notes_info {
      padding: 0 calc(30 * var(--scale-by-width) * (8/5));
   }
   
   .notes_info > p {
      font-size: calc(28 * var(--scale-by-width) * (8/5));
   }
   
   .notes_note {
      margin: calc(30 * var(--scale-by-width) * (8/5));
      margin-top: calc(15 * var(--scale-by-width) * (8/5));
   }
   
   .note_details {
      font-size: calc(20 * var(--scale-by-width) * (8/5));
      margin: calc(5 * var(--scale-by-width) * (8/5));
   }
   
   .note_box {
      border-radius: calc(5 * var(--scale-by-width) * (8/5));
      width: calc(700 * var(--scale-by-width) * (8/5));
      min-height: calc(250 * var(--scale-by-width) * (8/5));
      padding: calc(15 * var(--scale-by-width) * (8/5));
   }
   
   .note_contents {
      font-size: calc(20 * var(--scale-by-width) * (8/5));
   }
}