.header, .headerDark {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: max(calc(800px * 0.6), calc(800vh * 59 / 725));
   padding: 0 max(calc(5px * 0.6), calc(5vh * 59 / 725));
   height: calc(60 * var(--scale-by-height));
   box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.3);
}

.mobile_only {
   display: none;
}

.header_logo {
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
   margin-left: max(calc(90px * 0.6), calc(90vh * 59 / 725));
}

.logo_img {
   height: max(calc(50px * 0.6), calc(50vh * 59 / 725));
   aspect-ratio: 1 / 1;
}

.logo_title {
   font-size: max(calc(35px * 0.6), calc(35vh * 59 / 725));
   font-weight: 700;
   letter-spacing: -0.07em;
   margin: 0;
   margin-bottom: 0.15em;
}

.header_nav {
   display: flex;
   justify-content: space-between;
   gap: max(calc(80px * 0.6), calc(80vh * 59 / 725));
   height: 100%;
}

.nav_container {
   display: grid;
   grid-template-columns: repeat(3, auto);
   justify-items: center;
   align-items: flex-start;
}

.options_container {
   display: grid;
   grid-template-columns: fit-content(max(calc(120px * 0.6), calc(120vh * 59 / 725))) max(calc(190px * 0.6), calc(190vh * 59 / 725));
   justify-items: flex-start;
   align-items: center;
   column-gap: max(calc(60px * 0.6), calc(60vh * 59 / 725));
}

.therapist_options {
   grid-template-columns: max(calc(190px * 0.6), calc(190vh * 59 / 725));
}

.nav_item {
   height: 100%;
   width: calc(180 * var(--scale-by-height));
   text-align: center;
   padding: calc(19 * var(--scale-by-height)) 0;
   background-color: #fff;
   /* box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25); */
   border-right: 1px solid hsl(0, 0%, 70%);
   z-index: 2000;
   &:first-child {
      border-left: 1px solid hsl(0, 0%, 70%);
      border-radius: 0 0 0 5px;
   }
   &:last-child {
      border-radius: 0 0 5px 0;
   }
}

.nav_item:hover {
   padding-top: calc(17 * var(--scale-by-height));
   height: 96%;
   background-color: hsl(0, 0%, 95%);
}

.nav_item, .nav_logout, .nav_check_logout {
   color: rgb(34, 0, 106);
   font-size: max(calc(20px * 0.6), calc(20vh * 59 / 725));
   font-weight: 400;
   margin: 0;
   cursor: pointer;
}

.nav_logout {
   color: #FF0000;
}

.nav_check_logout > span {
   padding: 0 max(calc(5px * 0.6), calc(5vh * 59 / 725));
   font-weight: 700;
}

.nav_check_logout > span#yes {
   color: #FF0000;
}

.nav_check_logout > span#no {
   color: #4CAF50;
   padding-right: 0;
}

.headerDark {
   background-color: #333; /* Dark background */
   color: #fff; /* Light text */
}

.toggle {
   margin: 0 calc(-10 * var(--scale-by-height));
   margin-top: calc(2 * var(--scale-by-height));
}

.sunIcon, .moonIcon {
   color: white;
   margin-top: calc(-2 * var(--scale-by-height));
   height: calc(20 * var(--scale-by-height));
}

/* Dark mode button styles, if needed */
.headerDark .nav_item, .headerDark .options_item {
   color: #70d8ac; /* green text */
}

.headerDark .nav_item {
   background-color: #333;
}

.headerDark .nav_item:hover {
   background-color: hsl(0, 0%, 25%);
}

.headerDark .nav_logout, .headerDark .nav_check_logout {
   color: #ccc;
   font-weight: 600;
}

.headerDark .nav_check_logout > span#yes {
   color: hsl(0, 100%, 60%);
}

.headerDark .nav_check_logout > span#no {
   color: #70d8ac;
}

@media only screen and ((max-aspect-ratio: 8 / 5) or (max-width: 1195px)) {
   /* .nav_item {background-color: black;} */
   .header, .headerDark {
      justify-content: space-between;
      gap: 0;
   }
}

@media only screen and ((max-aspect-ratio: 1 / 1) or (max-width: 750px)) {
   .nav_item {background-color: transparent;}
   .mobile_only {
      display: initial;
   }

   .header_nav {
      grid-template-columns: max(calc(220px * 0.6), calc(220vh * 59 / 725)) fit-content(max(calc(160px * 0.6), calc(160vh * 59 / 725)));
      column-gap: calc(30 * var(--scale-by-height));
   }

   .header_logo {
      margin: 0 calc(20 * var(--scale-by-width) * (8/5));
   }
   
   .nav_dropdown {
      position: fixed;
      left: 50%;
      transform: translateX(-50%);
      margin: 0;
      cursor: pointer;
   }

   .options_dropdown {
      position: fixed;
      right: calc(20 * var(--scale-by-width) * (8/5) + 5 * var(--scale-by-height));
      margin: 0;
      cursor: pointer;
   }

   .nav_container {
      position: absolute;
      top: calc(60 * var(--scale-by-height));
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      gap: 0;
      background-color: #fff;
      box-shadow: 0 calc(4 * var(--scale-by-height)) calc(6 * var(--scale-by-height)) rgba(0, 0, 0, 0.25);
      border-radius: 0 0 calc(10 * var(--scale-by-height)) calc(10 * var(--scale-by-height));
      display: none;
      z-index: 1001;
   }

   .options_container {
      position: absolute;
      top: calc(60 * var(--scale-by-height));
      right: 0;
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      gap: 0;
      background-color: #fff;
      box-shadow: 0 calc(4 * var(--scale-by-height)) calc(6 * var(--scale-by-height)) rgba(0, 0, 0, 0.25);
      border-radius: 0 0 calc(10 * var(--scale-by-height)) calc(10 * var(--scale-by-height));
      display: none;
      z-index: 1001;
   }

   .option_row {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: calc(15 * var(--scale-by-height));
      border-top: 1px solid #22006a;
   }
   
   .toggle {
      margin: 0;
      margin-top: calc(2 * var(--scale-by-height));
   }

   .headerDark .nav_container, .headerDark .options_container {
      background-color: #333;
   }

   .nav_item, .nav_item:hover, .nav_logout, .nav_check_logout {
      font-size: max(calc(24px * 0.6), calc(24vh * 59 / 725));
      font-weight: 500;
      text-align: center;
      letter-spacing: calc(2 * var(--scale-by-height));
      padding: calc(20 * var(--scale-by-height)) 0;
      width: calc(300 * var(--scale-by-height));
      border: none;
      border-top: 1px solid #22006a;
   }

   .nav_item {
      &:first-child {
         border: none;
         border-top: 1px solid #22006a;
         border-radius: 0;
      }
      &:last-child {
         border-radius: 0 0 calc(10 * var(--scale-by-height)) calc(10 * var(--scale-by-height));
      }
   }

   .options_item {
      color: #22006a;
      font-size: max(calc(24px * 0.6), calc(24vh * 59 / 725));
      font-weight: 500;
      text-align: center;
   }
   
   .nav_check_logout > span {
      padding: 0 max(calc(10px * 0.6), calc(10vh * 59 / 725));
   }

   .headerDark .nav_item, .headerDark .nav_logout, .headerDark .nav_check_logout, .headerDark .option_row {
      border-top: 1px solid #70d8ac;
   }

   .mobile_visible {
      display: initial;
   }
}

@media only screen and ((max-aspect-ratio: 5 / 8) or (max-width: 450px)) {
   .header, .headerDark {
      justify-content: space-between;
   }
   
   .header_logo {
      margin: 0 calc(15 * var(--scale-by-width) * (8/5));
   }
}