.header {
   display: flex;
   box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.1);
   justify-content: center;
   align-items: center;
   gap:  max(calc(850px * 0.6), calc(850vh * 59 / 725));
   padding: max(calc(5px * 0.6), calc(5vh * 59 / 725));
}

.header_logo {
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
   margin-left: max(calc(90px * 0.6), calc(90vh * 59 / 725));
}

.logo_img {
   height: max(calc(50px * 0.6), calc(50vh * 59 / 725));
   aspect-ratio: 1 / 1;
}

.logo_title {
   font-size: max(calc(35px * 0.6), calc(35vh * 59 / 725));
   font-weight: 700;
   letter-spacing: -0.07em;
   margin: 0;
   margin-bottom: 0.15em;
}

.header_nav {
   display: grid;
   grid-template-columns: repeat(5, max(calc(160px * 0.6), calc(160vh * 59 / 725)));
   justify-items: flex-end;
   align-items: center;
   direction: rtl;
}

.nav_item, .nav_logout, .nav_check_logout {
   font-size: max(calc(16px * 0.6), calc(16vh * 59 / 725));
   font-weight: 400;
   color: rgb(34, 0, 106);
   cursor: pointer;
}

.nav_logout {
   color: #FF0000;
}

.nav_check_logout > span {
   padding: 0 max(calc(5px * 0.6), calc(5vh * 59 / 725));
   font-weight: 700;
}

.nav_check_logout > span#yes {
   color: #FF0000;
}

.nav_check_logout > span#no {
   color: #4CAF50;
   padding-right: 0;
}

@media only screen and ((max-aspect-ratio: 3 / 2) or (max-width: 1105px)) {
   .nav_item {background-color: black;}
   .header {
      justify-content: space-between;
      gap: 0;
      padding: calc(5 * var(--scale-by-height)) calc(50 * (2 / 3) * var(--scale-by-width));
   }
}

.headerDark {
   display: flex;
   box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.1);
   justify-content: space-between; /* Changed to space-between for better alignment */
   align-items: center;
   padding: max(calc(5px * 0.6), calc(5vh * 59 / 725));
   padding-left: 10%;
   padding-right: 10%;
   background-color: #333; /* Dark background */
   color: #fff; /* Light text */
}


.toggleThemeButton {
   background: none;
   border: none;
   color: inherit; /* Use the current text color */
   font: inherit; /* Inherit font from the parent */
   cursor: pointer;
   outline: inherit; /* Use the parent's outline */
   padding: 10px; /* Add some padding for clickability */
   transition: color 0.3s ease; /* Smooth transition for color changes */
}

.toggleThemeButton:hover {
   color: #FF5733; /* Change color on hover */
}

.toggleThemeButton:active {
   color: #C70039; /* Change color on click */
}

/* Dark mode button styles, if needed */
.headerDark .nav_item {
   color: #fff; /* White text */
}

.headerDark_nav {
   display: grid;
   grid-template-columns: repeat(5, max(calc(160px * 0.6), calc(160vh * 59 / 725)));
   justify-items: flex-end;
   align-items: center;
   direction: rtl;
}

