.patient_profile_main {
   background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.8) 20%,
               rgba(134, 113, 255, 0.4) 100%) /*,url("../assets/login_bg4.jpg")*/ ;
   background-size: cover;
   background-position: top center;
   background-attachment: fixed;
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: calc(30 * var(--scale-by-height));
   padding: calc(60 * var(--scale-by-height)) calc(420 * var(--scale-by-height));
   height: calc(100vh - calc(60 * var(--scale-by-height)));
   min-height: 620px;
}

.mobile_only {
   display: none;
}

.covered_by_popup {
   opacity: 50%;
   filter: blur(4px);
   -webkit-filter: blur(4px);
}

.popup_separate {
   position: fixed;
   left: 0;
   top: calc(60 * var(--scale-by-height));
   width: 100%;
   height: calc(100vh - calc(60 * var(--scale-by-height)));
}

.profile_header {
   display: flex;
   justify-content: space-between;
   width: calc(1750 * var(--scale-by-height));
   min-height: calc(250 * var(--scale-by-height));
}

.header_user {
   display: flex;
   gap: calc(50 * var(--scale-by-height));
   width: 59%;
   background-color: #fff;
   border-radius:calc(125 * var(--scale-by-height)) calc(10 * var(--scale-by-height))
                  calc(10 * var(--scale-by-height))calc(125 * var(--scale-by-height));
   box-shadow: 0 calc(4 * var(--scale-by-height)) calc(4 * var(--scale-by-height)) 0 rgba(0, 0, 0, 0.25);
}

.image_wrapper {
   height: 100%;
   aspect-ratio: 1 / 1;
   border-radius: calc(125 * var(--scale-by-height));
   box-shadow: calc(6 * var(--scale-by-height)) calc(2 * var(--scale-by-height)) calc(8 * var(--scale-by-height)) calc(4 * var(--scale-by-height)) rgba(0, 0, 0, 0.25);
}

.user_image {
   position: absolute;
   height: 100%;
   width: 100%;
   max-height: calc(250 * var(--scale-by-height));
   max-width: calc(250 * var(--scale-by-height));
   object-fit: contain;    /* NOTE cover ili contain? */
   border-radius: calc(125 * var(--scale-by-height));
   cursor: pointer;
}

#image_input {
   display: none;
}

.user_info {
   display: flex;
   flex-direction: column;
   justify-content: center;
   gap: calc(10 * var(--scale-by-height));
}

.info_item {
   display: flex;
   align-items: flex-start;
   gap: calc(5 * var(--scale-by-height));
}

.info_title {
   font-size:  calc(32 * var(--scale-by-height));
   font-weight: 700;
   margin: 0;
}

.info_item > .info_id {
   font-size: calc(24 * var(--scale-by-height));
   font-weight: 500;
   font-style: italic;
   color: #636363;
   margin: calc(8 * var(--scale-by-height));
   margin-bottom: 0;
}

.info_item > p{
   font-size: calc(18 * var(--scale-by-height));
   color: #636363;
   font-weight: 400;
   margin: 0;
}

.info_item > span {
   font-size: calc(18 * var(--scale-by-height));
   color: #22006a;
   font-weight: 500;
   margin: 0;
}

.header_thanks {
   background: linear-gradient(0deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.8) 100%),
               url("../assets/handshake.jpg");
   background-size: cover;
   background-position: center;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 39%;
   padding-top: calc(20 * var(--scale-by-height));
   gap: calc(20 * var(--scale-by-height));
   background-color: #fff;
   border-radius: calc(10 * var(--scale-by-height));
   box-shadow: 0 calc(4 * var(--scale-by-height)) calc(4 * var(--scale-by-height)) 0 rgba(0, 0, 0, 0.25);
}

.thanks_message {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.message_title {
   font-size: calc(48 * var(--scale-by-height));
   font-weight: 800;
   letter-spacing: calc(15 * var(--scale-by-height));
   text-align: center;
   width: fit-content;
   margin: 0;
   padding-left: calc(15 * var(--scale-by-height));
}

.message_subtitle {
   color: #636363;
   font-size: calc(28 * var(--scale-by-height));
   width: fit-content;
   margin: 0;
}

.thanks_age {
   color: #22006a;
   font-size: calc(36 * var(--scale-by-height));
   margin: 0;
}

.thanks_age > span {
   font-size: calc(48 * var(--scale-by-height));
}

.thanks_buttons {
   display: flex;
   justify-content: space-between;
   width: 100%;
   padding: 0 calc(15 * var(--scale-by-height));
   margin-top: calc(5 * var(--scale-by-height));
}

.thanks_edit, .thanks_deactivate {
   color: #636363;
   font-size: calc(16 * var(--scale-by-height));
   font-weight: 500;
   text-decoration: underline;
   margin: 0;
   cursor: pointer;
}

.profile_therapies {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   width: calc(1750 * var(--scale-by-height));
}

.therapies_title {
   font-size: calc(36 * var(--scale-by-height));
   font-weight: 700;
   margin: calc(10 * var(--scale-by-height));
}

.therapies_container {
   display: grid;
   width: 100%;
   max-height: calc(700 * var(--scale-by-height));
   padding: 0 calc(10 * var(--scale-by-height));
   grid-template-columns: 49% 49%;
   grid-column-gap: 2%;
   overflow: auto;
}

.no_therapies {
   color: #000;
   font-size: calc(24 * var(--scale-by-height));
   font-weight: 500;
   width: fit-content;
   padding: calc(20 * var(--scale-by-height)) calc(30 * var(--scale-by-height));
   margin: calc(20 * var(--scale-by-height)) 0;
   border-radius: calc(5 * var(--scale-by-height));
   background-color: #fff;
   box-shadow: 0 calc(4 * var(--scale-by-height)) calc(4 * var(--scale-by-height)) 0 rgba(0, 0, 0, 0.25);
}

.no_therapies > span {
   color: #22006a;
   font-weight: 400;
   padding: 0 calc(5 * var(--scale-by-height));
}

.therapy_card {
   background-image: url("../assets/therapy_card.png");
   background-size: cover;
   background-repeat: no-repeat;
   display: flex;
   flex-direction: column;
   gap: calc(10 * var(--scale-by-height));
   margin: calc(10 * var(--scale-by-height)) 0;
   border-radius: calc(10 * var(--scale-by-height));
   padding: calc(15 * var(--scale-by-height)) calc(40 * var(--scale-by-height));
   box-shadow: 0 calc(4 * var(--scale-by-height)) calc(4 * var(--scale-by-height)) 0 rgba(0, 0, 0, 0.25);
   /* border: 2px solid red; */
}

.therapy_card > p, .therapy_card > h3 {
   margin: 0;
   font-weight: 700;
}

.therapy_name {
   color: #636363;
   font-size: calc(28 * var(--scale-by-height));
}

p.therapy_code {
   color: #636363;
   font-size: calc(16 * var(--scale-by-height));
   letter-spacing: calc(5 * var(--scale-by-height));
   margin-top: calc(-10 * var(--scale-by-height));
   margin-bottom: calc(5 * var(--scale-by-height));
}

.therapy_info, .therapy_more {
   color: #22006a;
   font-size: calc(16 * var(--scale-by-height));
}

.therapy_info > span {
   font-weight: 500;
}

p.therapy_more {
   color: #22006a;
   font-weight: 600;
   text-decoration: underline;
   cursor: pointer;
   margin-top: calc(5 * var(--scale-by-height));
}

.dark {
   background: linear-gradient(180deg, rgba(25, 25, 25, 0.97) 10%, rgba(18, 15, 34, 0.8) 80%,
   rgba(17, 11, 65, 0.863) 100%);
}

.dark .therapy_card, .dark .info_item, .dark .thanks_message {
   color: #ccc; /* Adjust text color for dark mode */
}

.dark .header_thanks{
   background: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 100%, rgba(255, 255, 255, 0.6) 20%),
   url("../assets/handshake.jpg");
   background-size: cover;
   background-position: center;
}

.dark .header_user{
   background-color: #181818;
}

.dark .info_item > span,
.dark .thanks_age{
   color: var(--zelena)
}

.dark .therapy_card {
   background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 100%, rgba(255, 255, 255, 0.6) 20%), url("../assets/therapy_card.png");
   background-size: cover;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
}

.dark .therapy_card > *{
   color: #fff;
}


.dark .therapy_info{
   color: var(--zelena);
}

.dark .therapies_title{
   color: #fff;
}

@media only screen and ((max-aspect-ratio: 3 / 2) or (max-width: 1105px)) {
   
   .mobile_only {
      display: initial;
   }

   .patient_profile_main {
      justify-content: flex-start;
      gap: 1.4vh;
      padding: calc(50 * var(--scale-by-height)) calc(30 * var(--scale-by-height));
      height: fit-content;
      min-height: calc(100vh - calc(60 * var(--scale-by-height)));
   }
   
   .profile_header {
      flex-direction: column-reverse;
      align-items: center;
      gap: 1vh;
      width: calc(720 * var(--scale-by-height));
   }
   
   .header_user {
      display: flex;
      align-items: center;
      width: 100%;
   }
   
   .image_wrapper {
      min-height: calc(220 * var(--scale-by-height));
   }

   .user_image {
      max-height: calc(220 * var(--scale-by-height));
      max-width: calc(220 * var(--scale-by-height));
   }
   
   .header_thanks {
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      padding: calc(10 * var(--scale-by-height));
      gap: calc(20 * var(--scale-by-height));
   }
   
   .message_title {
      font-size: calc(26 * var(--scale-by-height));
      letter-spacing: calc(10 * var(--scale-by-height));
      padding-left: calc(10 * var(--scale-by-height));
   }
   
   .message_subtitle {
      font-size: calc(20 * var(--scale-by-height));
   }
   
   .thanks_age {
      font-size: calc(32 * var(--scale-by-height));
   }
   
   .thanks_age > span {
      font-size: calc(38 * var(--scale-by-height));
   }
   
   .thanks_buttons {
      flex-direction: column;
      justify-content: space-between;
      width: fit-content;
      text-align: right;
      gap: calc(15 * var(--scale-by-height));
      padding: 0;
      padding-right: calc(10 * var(--scale-by-height));
   }
   
   .thanks_edit, .thanks_deactivate {
      color: #000;
      font-size: calc(15 * var(--scale-by-height));
   }
   
   .profile_therapies {
      align-items: center;
      gap: calc(10 * var(--scale-by-height));
      width: calc(720 * var(--scale-by-height));
   }
   
   .therapies_title {
      margin: 0;
   }
   
   .therapies_container {
      justify-items: center;
      width: 100%;
      max-height: calc(690 * var(--scale-by-height));
      grid-template-columns: 100%;
   }
   
   .no_therapies {
      font-size: calc(22 * var(--scale-by-height));
      text-align: center;
      width: 80%;
   }
   
   .therapy_card {
      width: 100%;
   }
   
   p.therapy_more {
      font-size: calc(18 * var(--scale-by-height));
      margin-top: 0;
   }
}

@media only screen and ((max-aspect-ratio: 5 / 8) or (max-width: 450px)) {

   .patient_profile_main {
      padding: calc(50 * var(--scale-by-width) * (8/5)) calc(30 * var(--scale-by-width) * (8/5));
      min-height: calc(100vh - calc(60 * var(--scale-by-width) * (8/5)));
   }
   
   .popup_separate {
      top: calc(60 * var(--scale-by-width) * (8/5));
   }
   
   .profile_header {
      width: calc(720 * var(--scale-by-width) * (8/5));
      min-height: calc(250 * var(--scale-by-width) * (8/5));
   }
   
   .header_user {
      gap: calc(50 * var(--scale-by-width) * (8/5));
      border-radius:calc(125 * var(--scale-by-width) * (8/5)) calc(10 * var(--scale-by-width) * (8/5))
                     calc(10 * var(--scale-by-width) * (8/5))calc(125 * var(--scale-by-width) * (8/5));
      box-shadow: 0 calc(4 * var(--scale-by-width) * (8/5)) calc(4 * var(--scale-by-width) * (8/5)) 0 rgba(0, 0, 0, 0.25);
   }
   
   .image_wrapper {
      min-height: calc(220 * var(--scale-by-width) * (8/5));
      border-radius: calc(125 * var(--scale-by-width) * (8/5));
      box-shadow: calc(6 * var(--scale-by-width) * (8/5)) calc(2 * var(--scale-by-width) * (8/5)) calc(8 * var(--scale-by-width) * (8/5)) calc(4 * var(--scale-by-width) * (8/5)) rgba(0, 0, 0, 0.25);
   }
   
   .user_image {
      max-height: calc(220 * var(--scale-by-width) * (8/5));
      max-width: calc(220 * var(--scale-by-width) * (8/5));
      border-radius: calc(125 * var(--scale-by-width) * (8/5));
   }
   
   .user_info {
      gap: calc(10 * var(--scale-by-width) * (8/5));
   }
   
   .info_item {
      gap: calc(5 * var(--scale-by-width) * (8/5));
   }
   
   .info_title {
      font-size:  calc(32 * var(--scale-by-width) * (8/5));
   }
   
   .info_item > .info_id {
      font-size: calc(24 * var(--scale-by-width) * (8/5));
      margin: calc(8 * var(--scale-by-width) * (8/5));
      margin-bottom: 0;
   }
   
   .info_item > p{
      font-size: calc(18 * var(--scale-by-width) * (8/5));
   }
   
   .info_item > span {
      font-size: calc(18 * var(--scale-by-width) * (8/5));
   }
   
   .header_thanks {
      padding: calc(10 * var(--scale-by-width) * (8/5));
      gap: calc(20 * var(--scale-by-width) * (8/5));
      border-radius: calc(10 * var(--scale-by-width) * (8/5));
      box-shadow: 0 calc(4 * var(--scale-by-width) * (8/5)) calc(4 * var(--scale-by-width) * (8/5)) 0 rgba(0, 0, 0, 0.25);
   }
   
   .message_title {
      font-size: calc(26 * var(--scale-by-width) * (8/5));
      letter-spacing: calc(10 * var(--scale-by-width) * (8/5));
      padding-left: calc(10 * var(--scale-by-width) * (8/5));
   }
   
   .message_subtitle {
      font-size: calc(20 * var(--scale-by-width) * (8/5));
   }
   
   .thanks_age {
      font-size: calc(32 * var(--scale-by-width) * (8/5));
   }
   
   .thanks_age > span {
      font-size: calc(38 * var(--scale-by-width) * (8/5));
   }
   
   .thanks_buttons {
      gap: calc(15 * var(--scale-by-width) * (8/5));
      padding: 0;
      padding-right: calc(10 * var(--scale-by-width) * (8/5));
      margin-top: calc(5 * var(--scale-by-width) * (8/5));
   }
   
   .thanks_edit, .thanks_deactivate {
      font-size: calc(15 * var(--scale-by-width) * (8/5));
   }
   
   .profile_therapies {
      gap: calc(10 * var(--scale-by-width) * (8/5));
      width: calc(720 * var(--scale-by-width) * (8/5));
   }
   
   .therapies_title {
      font-size: calc(36 * var(--scale-by-width) * (8/5));
   }
   
   .therapies_container {
      max-height: none;
      padding: 0 calc(10 * var(--scale-by-width) * (8/5));
   }
   
   .no_therapies {
      font-size: calc(22 * var(--scale-by-width) * (8/5));
      padding: calc(20 * var(--scale-by-width) * (8/5)) calc(30 * var(--scale-by-width) * (8/5));
      margin: calc(20 * var(--scale-by-width) * (8/5)) 0;
      border-radius: calc(5 * var(--scale-by-width) * (8/5));
      box-shadow: 0 calc(4 * var(--scale-by-width) * (8/5)) calc(4 * var(--scale-by-width) * (8/5)) 0 rgba(0, 0, 0, 0.25);
   }
   
   .no_therapies > span {
      padding: 0 calc(5 * var(--scale-by-width) * (8/5));
   }
   
   .therapy_card {
      gap: calc(10 * var(--scale-by-width) * (8/5));
      margin: calc(10 * var(--scale-by-width) * (8/5)) 0;
      border-radius: calc(10 * var(--scale-by-width) * (8/5));
      padding: calc(15 * var(--scale-by-width) * (8/5)) calc(40 * var(--scale-by-width) * (8/5));
      box-shadow: 0 calc(4 * var(--scale-by-width) * (8/5)) calc(4 * var(--scale-by-width) * (8/5)) 0 rgba(0, 0, 0, 0.25);
   }

   .therapy_name {
      font-size: calc(28 * var(--scale-by-width) * (8/5));
   }
   
   p.therapy_code {
      font-size: calc(16 * var(--scale-by-width) * (8/5));
      letter-spacing: calc(5 * var(--scale-by-width) * (8/5));
      margin-top: calc(-10 * var(--scale-by-width) * (8/5));
      margin-bottom: calc(5 * var(--scale-by-width) * (8/5));
   }
   
   .therapy_info, .therapy_more {
      font-size: calc(16 * var(--scale-by-width) * (8/5));
   }
   
   p.therapy_more {
      font-size: calc(18 * var(--scale-by-width) * (8/5));
      margin-top: calc(5 * var(--scale-by-width) * (8/5));
   }
}