.register-main {
   background-image: linear-gradient(0deg, rgba(255,255,255,1) 0%,
                        rgba(255,255,255,1) 10%, rgba(255,255,255,0) 100%),
                        url("../assets/docs.jpg");
      background-size: cover;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 8.5vw;
      height: 93vh;
      min-height: 650px;
   }
   
   .covered-by-popup {
      opacity: 50%;
   }
   
   .register-form {
      background-color: white;
      padding: max(calc(50px * 0.6), calc(50vh * 59 / 725));
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      box-shadow: 0px 4px 50px 20px #00000033;
      border-radius: 14px;
      font-family: "Barlow", sans-serif;
      gap: max(calc(50px * 0.6), calc(50vh * 59 / 725));
   }
   
   .register-error {
      color: #FF0000;
      font-size: max(calc(18px * 0.6), calc(18vh * 59 / 725));
      font-weight: 500;
      margin-top: min(calc(-26px * 0.6), calc(-26vh * 59 / 725));
      margin-bottom: min(calc(-36px * 0.6), calc(-36vh * 59 / 725));
      visibility: hidden;
   }
   
   .register-failed {
      color: #FF0000;
      font-size: max(calc(18px * 0.6), calc(18vh * 59 / 725));
      font-weight: 500;
      margin-top: max(calc(2px * 0.6), calc(2vh * 59 / 725));
      margin-bottom: min(calc(-22px * 0.6), calc(-22vh * 59 / 725));
      visibility: hidden;
   }
   
   .failed-text {
      visibility: visible;
   }
   
   .form-title {
      color: #636363;
      font-size: max(calc(72px * 0.6), calc(72vh * 59 / 725));
      font-weight: 600;
      margin: 0 max(calc(80px * 0.6), calc(80vh * 59 / 725));
      text-wrap: nowrap;
   }
   
   
   .grid-container {
      display: grid;
      grid-template-columns: auto auto auto auto auto auto;
      column-gap: max(calc(20px * 0.6), calc(20vh * 59 / 725));
      row-gap: max(calc(30px * 0.6), calc(30vh * 59 / 725));
      margin: 0px max(calc(50px * 0.6), calc(50vh * 59 / 725));
   }

   #grid-name {
      grid-column: 1 / 4;
      width: max(calc(270px * 0.6), calc(270vh * 59 / 725));
   }
   #grid-surname {
      grid-column: 4 / 7;
      width: max(calc(270px * 0.6), calc(270vh * 59 / 725));
   }
   #grid-email {
      grid-column: 1 / 7;
      width: max(calc(560px * 0.6), calc(560vh * 59 / 725));
   }
   #grid-address {
      grid-column: 1 / 7;
      width: max(calc(560px * 0.6), calc(560vh * 59 / 725));
   }
   #grid-dob {
      grid-column: 1 / 3;
      width: max(calc(173px * 0.6), calc(173vh * 59 / 725));
   }
   #grid-phone {
      grid-column: 3 / 5;
      width: max(calc(174px * 0.6), calc(174vh * 59 / 725));
   }
   #grid-mbo {
      grid-column: 5 / 7;
      width: max(calc(173px * 0.6), calc(173vh * 59 / 725));
   }
   #grid-pass {
      grid-column: 1 / 4;
      width: max(calc(270px * 0.6), calc(270vh * 59 / 725));
   }
   #grid-passconf {
      grid-column: 4 / 7;
      width: max(calc(270px * 0.6), calc(270vh * 59 / 725));
   }
   
   .form-button {
      background: #70D8AC;
      box-shadow: 0px 4px 50px 8px #00000026;
      padding: max(calc(20px * 0.6), calc(20vh * 59 / 725)) max(calc(50px * 0.6), calc(50vh * 59 / 725));
      font-family: "Barlow", sans-serif;
      font-weight: 700;
      font-size: max(calc(40px * 0.6), calc(40vh * 59 / 725));
      color: white;
      border: 1px solid #70D8AC;
      border-radius: 14px;
   }
   
   .form-button:hover {
      cursor: pointer;
   }

   .greeting-container {
      font-family: "Barlow", sans-serif;
      display: flex;
      flex-direction: column;
      justify-content: center;
   }
   
   .greeting {
      font-size: max(calc(78px * 0.6), calc(78vh * 59 / 725));
      font-weight: 600;
      letter-spacing: -0.05em;
      margin: 0;
      color: #200063;
      text-shadow: 0px 4px 4px #FFFFFF;
   }
   
   .register-success {
      position: absolute;
      display: flex;
      flex-direction: column;
      left: 50vw;
      top: 50vh;
      transform: translate(-50%, -50%);
      align-items: center;
      justify-content: center;
      gap: max(calc(30px * 0.6), calc(30vh * 59 / 725));
      padding: max(calc(30px * 0.6), calc(30vh * 59 / 725)) max(calc(40px * 0.6), calc(40vh * 59 / 725));
      max-width: max(calc(560px * 0.6), calc(560vh * 59 / 725));
      min-width: max(calc(500px * 0.6), calc(500vh * 59 / 725));
      font-family: "Barlow", sans-serif;
      font-weight: 700;
      background: #FFFFFF;
      box-shadow: 0px 4px 25px 12px #00000026;
      border-radius: 8px;
   }
   
   .success-title {
      font-size: max(calc(54px * 0.6), calc(54vh * 59 / 725));
      color: #636363;
      margin: 0;
      margin-top: max(calc(20px * 0.6), calc(20vh * 59 / 725));
   }
   
   .success-text {
      font-size: max(calc(18px * 0.6), calc(18vh * 59 / 725));
      line-height: 100%;
      color: #636363;
      margin: 0;
      margin-bottom: max(calc(10px * 0.6), calc(10vh * 59 / 725));
      text-align: center;
   }
   
   .success-button {
      font-family: "Barlow", sans-serif;
      font-size: max(calc(36px * 0.6), calc(36vh * 59 / 725));
      font-weight: 700;
      color: white;
      padding: max(calc(15px * 0.6), calc(15vh * 59 / 725)) max(calc(50px * 0.6), calc(50vh * 59 / 725));
      background: #70D8AC;
      border: 1px solid #70D8AC;
      border-radius: 14px;
      box-shadow: 0px 4px 50px 8px #00000026;
   }
   
   .success-button:hover {
      cursor: pointer;
   }