.register-main {
   background-image: linear-gradient(0deg, rgba(255,255,255,1) 0%,
                     rgba(255,255,255,1) 10%, rgba(255,255,255,0) 100%),
                     url("../assets/docs.jpg");
   background-size: cover;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 225px;
   height: 93vh;
}

.covered-by-popup {
   opacity: 50%;
}

.register-form {
   background-color: white;
   padding: 50px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   box-shadow: 0px 4px 50px 20px #00000033;
   border-radius: 14px;
   font-family: "Barlow", sans-serif;
   gap: 50px;
}

.form-title {
   color: #636363;
   font-size: 72px;
   font-weight: 600;
   margin: 0px 70px;
   text-wrap: nowrap;
}

.grid-container {
   display: grid;
   grid-template-columns: auto auto auto auto auto auto;
   column-gap: 20px;
   row-gap: 30px;
   margin: 0px 50px;
}

#grid-name {
   grid-column: 1 / 4;
}
#grid-surname {
   grid-column: 4 / 7;
}
#grid-email {
   grid-column: 1 / 7;
}
#grid-address {
   grid-column: 1 / 7;
}
#grid-dob {
   grid-column: 1 / 3;
}
#grid-phone {
   grid-column: 3 / 5;
}
#grid-mbo {
   grid-column: 5 / 7;
}
#grid-pass {
   grid-column: 1 / 4;
}
#grid-passconf {
   grid-column: 4 / 7;
}

.form-button {
   background: #70D8AC;
   box-shadow: 0px 4px 50px 8px #00000026;
   padding: 20px 50px;
   font-family: "Barlow", sans-serif;
   font-size: 40px;
   font-weight: 700;
   color: white;
   border: 1px solid #70D8AC;
   border-radius: 14px;
}

.form-button:hover {
   cursor: pointer;
}

.greeting-container {
   font-family: "Barlow", sans-serif;
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.greeting {
   font-size: 78px;
   font-weight: 600;
   letter-spacing: -0.05em;
   margin: 0;
   color: #200063;
   text-shadow: 0px 4px 4px #FFFFFF;
}

.register-success {
   position: absolute;
   display: flex;
   flex-direction: column;
   left: 50vw;
   top: 50vh;
   transform: translate(-50%, -50%);
   align-items: center;
   justify-content: center;
   gap: 30px;
   padding: 30px 40px;
   max-width: 560px;
   font-family: "Barlow", sans-serif;
   font-weight: 700;
   background: #FFFFFF;
   box-shadow: 0px 4px 25px 12px #00000026;
   border-radius: 8px;
}

.success-title {
   font-size: 54px;
   color: #636363;
   margin: 0;
   margin-top: 20px;
}

.success-text {
   font-size: 18px;
   line-height: 100%;
   color: #636363;
   margin: 0;
   margin-bottom: 10px;
   text-align: center;
}

.success-button {
   font-family: "Barlow", sans-serif;
   font-size: 36px;
   font-weight: 700;
   color: white;
   padding: 15px 50px;
   background: #70D8AC;
   border: 1px solid #70D8AC;
   border-radius: 14px;
   box-shadow: 0px 4px 50px 8px #00000026;
}

.success-button:hover {
   cursor: pointer;
}