.reset_password_form {
   position: absolute;
   top: 50vh;
   left: 50vw;
   transform: translate(-50%, -50%);
   background-color: white;
   padding: max(calc(40px * 0.6), calc(50vh * 59 / 725)) max(calc(50px * 0.6), calc(50vh * 59 / 725));
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   box-shadow: 0px 4px 50px 20px #00000033;
   border-radius: 14px;
   font-family: "Barlow", sans-serif;
   gap: max(calc(40px * 0.6), calc(40vh * 59 / 725));
}

.form_title {
   color: #636363;
   font-size: max(calc(60px * 0.6), calc(60vh * 59 / 725));
   font-weight: 600;
   margin: 0;
   text-wrap: nowrap;
}

.reset_failed {
   color: #FF0000;
   font-size: max(calc(18px * 0.6), calc(18vh * 59 / 725));
   font-weight: 500;
   margin-top: min(calc(-25px * 0.6), calc(-25vh * 59 / 725));
   margin-bottom: min(calc(-45px * 0.6), calc(-45vh * 59 / 725));
   visibility: hidden;
}

.failed_text {
   visibility: visible;
}

.form_input {
   display: flex;
   flex-direction: column;
   width: max-content;
}

.input_text {
   margin: max(calc(8px * 0.6), calc(8vh * 59 / 725)) 0;
   font-size: max(calc(18px * 0.6), calc(18vh * 59 / 725));
   font-weight: 500;
}

.input_box:focus {
   outline: none;
}

.failed_input {
   border-color: #FF0000;
}

input[type=password] {
   letter-spacing: 0.1em;
}

input[type=password]::placeholder, input[type=text]::placeholder {
   letter-spacing: normal;
}

.password_container {
   position: relative;
   display: flex;
}

.password_eye {
   position: absolute;
   right: 2%;
   top: 32%;
   width: max(calc(30px * 0.6), calc(30vh * 59 / 725));
   cursor: pointer;
}

.input_box {
   width: max(calc(560px * 0.6), calc(560vh * 59 / 725));
   font-size: max(calc(22px * 0.6), calc(22vh * 59 / 725));
   padding: max(calc(10px * 0.6), calc(10vh * 59 / 725));
   padding-left: max(calc(14px * 0.6), calc(14vh * 59 / 725));
   background: #F4F3F3;
   border: 1px solid #F4F3F3;
   border-radius: 10px;
}

.form_button {
   background: #70D8AC;
   box-shadow: 0px 4px 50px 8px #00000026;
   padding: max(calc(15px * 0.6), calc(15vh * 59 / 725)) max(calc(30px * 0.6), calc(30vh * 59 / 725));
   font-family: "Barlow", sans-serif;
   font-weight: 700;
   font-size: max(calc(32px * 0.6), calc(32vh * 59 / 725));
   color: white;
   border: 1px solid #70D8AC;
   border-radius: 14px;
   cursor: pointer;
}

.success_text {
   color: #22006a;
   font-size: calc(18 * var(--scale-by-height));
   font-weight: 600;
   text-align: center;
   margin: 0;
}

.success_text > span {
   font-size: calc(24 * var(--scale-by-height));
}

.login {
   color: #22006a;
   font-size: calc(22 * var(--scale-by-height));
   font-weight: 600;
   text-align: center;
   text-decoration: underline;
   margin: 0;
   margin-top: calc(-15 * var(--scale-by-height));
   cursor: pointer;
}

@media only screen and ((max-aspect-ratio: 5 / 8) or (max-width: 450px)) {

   .reset_password_form {
      padding: calc(40 * var(--scale-by-width) * (8/5)) calc(50 * var(--scale-by-width) * (8/5));
      box-shadow: 0 calc(4 * var(--scale-by-width) * (8/5)) calc(50 * var(--scale-by-width) * (8/5)) calc(20 * var(--scale-by-width) * (8/5)) #00000033;
      border-radius: calc(14 * var(--scale-by-width) * (8/5));
      gap: calc(40 * var(--scale-by-width) * (8/5));
   }
   
   .form_title {
      font-size: calc(60 * var(--scale-by-width) * (8/5));
   }
   
   .reset_failed {
      font-size: calc(18 * var(--scale-by-width) * (8/5));
      margin-top: calc(-25 * var(--scale-by-width) * (8/5));
      margin-bottom: calc(-45 * var(--scale-by-width) * (8/5));
   }
   
   .input_text {
      margin: calc(8 * var(--scale-by-width) * (8/5)) 0;
      font-size: calc(18 * var(--scale-by-width) * (8/5));
   }
   
   .password_eye {
      width: calc(30 * var(--scale-by-width) * (8/5));
   }
   
   .input_box {
      width: calc(560 * var(--scale-by-width) * (8/5));
      font-size: calc(22 * var(--scale-by-width) * (8/5));
      padding: calc(10 * var(--scale-by-width) * (8/5));
      padding-left: calc(14 * var(--scale-by-width) * (8/5));
      border-radius: calc(10 * var(--scale-by-width) * (8/5));
   }
   
   .form_button {
      padding: calc(15 * var(--scale-by-width) * (8/5)) calc(30 * var(--scale-by-width) * (8/5));
      font-size: calc(32 * var(--scale-by-width) * (8/5));
      border-radius: calc(14 * var(--scale-by-width) * (8/5));
   }
   
   .success_text {
      font-size: calc(18 * var(--scale-by-width) * (8/5));
   }
   
   .success_text > span {
      font-size: calc(24 * var(--scale-by-width) * (8/5));
   }
   
   .login {
      font-size: calc(22 * var(--scale-by-width) * (8/5));
      margin-top: calc(-15 * var(--scale-by-width) * (8/5));
   }
}