.reset_password_form {
   position: absolute;
   top: 50vh;
   left: 50vw;
   transform: translate(-50%, -50%);
   background-color: white;
   padding: max(calc(50px * 0.6), calc(50vh * 59 / 725)) max(calc(75px * 0.6), calc(75vh * 59 / 725));
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   box-shadow: 0px 4px 50px 20px #00000033;
   border-radius: 14px;
   font-family: "Barlow", sans-serif;
   gap: max(calc(50px * 0.6), calc(50vh * 59 / 725));
}

.form_title {
   color: #636363;
   font-size: max(calc(64px * 0.6), calc(64vh * 59 / 725));
   font-weight: 600;
   margin: 0;
   text-wrap: nowrap;
}

.reset_failed {
   color: #FF0000;
   font-size: max(calc(18px * 0.6), calc(18vh * 59 / 725));
   font-weight: 500;
   margin-top: min(calc(-25px * 0.6), calc(-25vh * 59 / 725));
   margin-bottom: min(calc(-45px * 0.6), calc(-45vh * 59 / 725));
   visibility: hidden;
}

.failed_text {
   visibility: visible;
}

.form_input {
   display: flex;
   flex-direction: column;
   width: max-content;
}

.input_text {
   margin: max(calc(11px * 0.6), calc(8vh * 59 / 725)) 0;
   font-size: max(calc(22px * 0.6), calc(18vh * 59 / 725));
   font-weight: 500;
}

.input_box:focus {
   outline: none;
}

.failed_input {
   border-color: #FF0000;
}

input[type=password] {
   letter-spacing: 0.1em;
}

input[type=password]::placeholder, input[type=text]::placeholder {
   letter-spacing: normal;
}

.password_container {
   position: relative;
   display: flex;
}

.password_eye {
   position: absolute;
   right: 2%;
   top: 32%;
   width: max(calc(30px * 0.6), calc(30vh * 59 / 725));
   cursor: pointer;
}

.input_box {
   width: max(calc(560px * 0.6), calc(560vh * 59 / 725));
   font-size: max(calc(22px * 0.6), calc(22vh * 59 / 725));
   padding: max(calc(10px * 0.6), calc(10vh * 59 / 725));
   padding-left: max(calc(14px * 0.6), calc(14vh * 59 / 725));
   background: #F4F3F3;
   border: 1px solid #F4F3F3;
   border-radius: 10px;
}

.form_button {
   background: #70D8AC;
   box-shadow: 0px 4px 50px 8px #00000026;
   padding: max(calc(15px * 0.6), calc(15vh * 59 / 725)) max(calc(30px * 0.6), calc(30vh * 59 / 725));
   font-family: "Barlow", sans-serif;
   font-weight: 700;
   font-size: max(calc(32px * 0.6), calc(32vh * 59 / 725));
   color: white;
   border: 1px solid #70D8AC;
   border-radius: 14px;
   cursor: pointer;
}