.selection_main {
   display: flex;
   align-items: center;
   gap: 50px;
}

.scroll_container {
   padding: 10px;
}

.dates_container, .times_container {
   display: flex;
   flex-direction: column;
   overflow: auto;
   align-items: center;
   width: max-content;
   gap: 15px;
   height: 500px;
   padding: 0 15px;
}

.container_small {
   height: 380px;
}

.weekdate, .datetime {
   color: #000;
   font-family: Barlow;
   font-size: 24px;
   font-weight: 500;
   text-align: center;
   margin: 0;
   padding: 5px;
   cursor: pointer;
}

.container_small > h3 {
   font-size: 24px;
}

.vertical_center {
   margin: auto 0;
}

.weekdate_disabled, .datetime_disabled {
   color: #656565;
   font-weight: 300;
   cursor: not-allowed;
}

.weekdate_in_sessions {
   border: #70D8AC solid 2px;
   border-radius: 5px;
}

.weekdate_selected, .datetime_selected {
   background-color: #22006a;
   color: #fff;
   font-weight: 600;
   border: #22006a solid 2px;
   border-radius: 5px;
}

.session_deselect {
   height: 15px;
   margin-top: 3px;
   margin-left: 8px;
   cursor: pointer;
}