.table_wrapper {
   padding: calc(15 * var(--scale-by-height)) calc(15 * var(--scale-by-height));
   background: #FFF;
   box-shadow: 0 calc(8 * var(--scale-by-height)) calc(12 * var(--scale-by-height)) calc(6 * var(--scale-by-height)) rgba(0, 0, 0, 0.25);
   border-radius: calc(10 * var(--scale-by-height));
}

.main_table {
   display: grid;
   align-items: center;
   padding: 0 calc(15 * var(--scale-by-height));
   align-items: center;
   text-align: center;
   overflow: auto;
   max-height: calc(820 * var(--scale-by-height));
}

.patients {
   /* dobro dode za testirat max dimenzije */
   /* grid-template-columns: 80px 180px 200px 320px 350px 130px 150px 150px 240px; */
   grid-template-columns: fit-content(calc(80 * var(--scale-by-height))) fit-content(calc(180 * var(--scale-by-height)))
                          fit-content(calc(200 * var(--scale-by-height))) fit-content(calc(320 * var(--scale-by-height)))
                          fit-content(calc(350 * var(--scale-by-height))) fit-content(calc(165 * var(--scale-by-height)))
                          fit-content(calc(150 * var(--scale-by-height))) fit-content(calc(150 * var(--scale-by-height)))
                          fit-content(calc(240 * var(--scale-by-height)));
}

.therapists {
   /* dobro dode za testirat max dimenzije */
   /* grid-template-columns: 80px 180px 200px 320px 300px 220px 240px; */
   grid-template-columns: fit-content(calc(80 * var(--scale-by-height))) fit-content(calc(180 * var(--scale-by-height)))
                          fit-content(calc(200 * var(--scale-by-height))) fit-content(calc(320 * var(--scale-by-height)))
                          fit-content(calc(300 * var(--scale-by-height))) fit-content(calc(220 * var(--scale-by-height)))
                          fit-content(calc(260 * var(--scale-by-height)));
}

.hidden {
   visibility: hidden;
}

.header_item, .header_buttons {
   position: sticky;
   top: 0;
   color: #22006a;
   font-size: calc(24 * var(--scale-by-height));
   margin: 0;
   padding: calc(15 * var(--scale-by-height));
   background-color: #fff;
   border-bottom: calc(3 * var(--scale-by-height)) solid #22006a;
}

.header_buttons {
   padding: calc(9 * var(--scale-by-height)) 0;
}

.table_item_wrapper {
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: calc(14 * var(--scale-by-height)) calc(20 * var(--scale-by-height));
   margin: 0;
   border-top: calc(1 * var(--scale-by-height)) solid #636363;
   overflow-wrap: anywhere;
}

.button_wrapper {
   gap: calc(12 * var(--scale-by-height));
   padding: calc(8 * var(--scale-by-height)) calc(20 * var(--scale-by-height));
}

.table_first {
   border: none;
}

.table_item {
   font-size: calc(18 * var(--scale-by-height));
   font-weight: 500;
   margin: 0;
}

.no_results {
   grid-column: 1 / -1 ;
   color: #636363;
   font-size: calc(20 * var(--scale-by-height));
   font-weight: 600;
   margin: calc(10 * var(--scale-by-height)) 0;
   margin-top: calc(20 * var(--scale-by-height));
}

.reduced_header {
   display: none;
}

.table_button, .header_add {
   width: fit-content;
   height: fit-content;
   color: #fff;
   font-size: calc(18 * var(--scale-by-height));
   font-weight: 600;
   padding: calc(6 * var(--scale-by-height)) calc(12 * var(--scale-by-height));
   background-color: #22006a;
   border-radius: calc(10 * var(--scale-by-height));
   border: none;
   cursor: pointer;
}

.header_add {
   font-size: calc(24 * var(--scale-by-height));
   margin: 0 auto;
}

.button_green, .header_add {
   font-weight: 700;
   background-color: #70D8AC;
}