.therapist_dash_main {
   background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.8) 20%,
             rgba(112, 216, 172, 0.3) 75%) /*,url("../assets/login_bg4.jpg")*/ ;
   background-size: cover;
   background-position: top center;
   background-attachment: fixed;
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: calc(80 * var(--scale-by-height));
   gap: 8.5vw;
   height: calc(100vh - calc(60 * var(--scale-by-height)));
   min-height: 600px
}

.covered_by_popup {
   opacity: 50%;
   filter: blur(4px);
   -webkit-filter: blur(4px);
}

.popup_separate {
   position: absolute;
   left: 0;
   top: calc(60 * var(--scale-by-height));
   width: 100%;
   height: calc(100vh - calc(60 * var(--scale-by-height)));
}

.container_title {
   color: #22006a;
   font-size: calc(40 * var(--scale-by-height));
   font-weight: 700;
   margin: 0;
   margin-bottom: calc(30 * var(--scale-by-height));
}

.date_wrapper {
   display: inline-flex;
   justify-content: space-between;
   align-items: center;
   margin-top: calc(-10 * var(--scale-by-height));
   width: calc(415 * var(--scale-by-height));
}

.container_date, .date_arrow {
   color: #000;
   font-size: calc(24 * var(--scale-by-height));
   font-weight: 500;
   margin: 0;
   margin-bottom: calc(10 * var(--scale-by-height));
}

.date_reset {
   width: calc(30 * var(--scale-by-height));
   height: calc(30 * var(--scale-by-height));
   margin-bottom: calc(-8 * var(--scale-by-height));
   margin-left: calc(15 * var(--scale-by-height));
}

.date_arrow, .date_reset {
   cursor: pointer;
}

.date_arrow, .date_reset {
   -webkit-user-select: none; /* Safari */
   -ms-user-select: none; /* IE 10 and IE 11 */
   user-select: none; /* Standard syntax */
}

.scroll_container {
   padding: calc(30 * var(--scale-by-height)) calc(10 * var(--scale-by-height));
   border-radius: calc(12 * var(--scale-by-height));
   background: #FFF;
   box-shadow: 0 calc(4 * var(--scale-by-height)) calc(4 * var(--scale-by-height)) 0 rgba(0, 0, 0, 0.25);
}

.schedule_card {
   display: flex;
   flex-direction: column;
   overflow: auto;
   align-items: center;
   width: max-content;
   gap: calc(20 * var(--scale-by-height));
   height: calc(750 * var(--scale-by-height));
}

.no_sessions {
   width: calc(400 * var(--scale-by-height));
   text-align: center;
   color: #656565;
   font-size: calc(24 * var(--scale-by-height));
   font-weight: 500;
   margin:  calc(320 * var(--scale-by-height)) calc(20 * var(--scale-by-height));
}

.session_card {
   display: flex;
   flex-direction: column;
   width: calc(400 * var(--scale-by-height));
   margin: 0 calc(20 * var(--scale-by-height));
   padding: calc(15 * var(--scale-by-height)) calc(20 * var(--scale-by-height));
   border-radius: calc(10 * var(--scale-by-height));
   gap: calc(5 * var(--scale-by-height));
   background: #FFF;
   box-shadow: 0 calc(4 * var(--scale-by-height)) calc(4 * var(--scale-by-height)) 0 rgba(0, 0, 0, 0.25);
   margin-bottom: calc(5 * var(--scale-by-height));
   cursor: pointer;
}

.session_passed {
   background: linear-gradient(to right, #f0f0f0, #d6d6d6);
   /* color: #6c757d; */
   font-style: italic;
   opacity: 0.75;
}

.session_date {
   color: #22006a;
   font-size: calc(24 * var(--scale-by-height));
   font-weight: 300;
   margin: 0;
}

.session_time {
   color: #000;
   font-size: calc(24 * var(--scale-by-height));
   font-weight: 500;
   margin: 0;
}

.session_footer {
   display: flex;
   justify-content: space-between;
}

.session_location {
   color: #000;
   font-size: calc(20 * var(--scale-by-height));
   font-weight: 400;
   margin: 0;
}

.session_more {
   display: none;
}

.right_cards {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   gap: calc(25 * var(--scale-by-height));
   min-height: calc(810 * var(--scale-by-height));
}

.selected_session {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: calc(30 * var(--scale-by-height)) calc(50 * var(--scale-by-height));
   border-radius: calc(12 * var(--scale-by-height));
   background: #FFF;
   box-shadow: 0 calc(4 * var(--scale-by-height)) calc(4 * var(--scale-by-height)) 0 rgba(0, 0, 0, 0.25);
   width: calc(700 * var(--scale-by-height));
   /* min-height: 500px; */
}

.no_sessions_container {      /* NOTE myb add some kinda bg for this later */
   height: calc(810 * var(--scale-by-height));
}

.session_info {
   display: grid;
   grid-template-columns: calc(180 * var(--scale-by-height)) fit-content(calc(400 * var(--scale-by-height)));
   row-gap: calc(25 * var(--scale-by-height));
   column-gap: calc(10 * var(--scale-by-height));
   align-items: top;
   min-height: calc(250 * var(--scale-by-height));
}

.session_info > p {
   color: #656565;
   font-size: calc(24 * var(--scale-by-height));
   font-weight: 500;
   margin: 0;
}

.info_values {
   max-width: calc(480 * var(--scale-by-height));
}

.info_values > p {
   color: #000;
   font-size: calc(24 * var(--scale-by-height));
   font-weight: 500;
   margin: 0;
}

p.patient_link {
   color: #22006a;
   text-decoration: underline;
   font-weight: 600;
   cursor: pointer;
}

.session_notes {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 0;
   border-radius: calc(12 * var(--scale-by-height));
   background: #FFF;
   box-shadow: 0 calc(4 * var(--scale-by-height)) calc(4 * var(--scale-by-height)) 0 rgba(0, 0, 0, 0.25);
   width: calc(700 * var(--scale-by-height));
   padding: calc(10 * var(--scale-by-height)) calc(20 * var(--scale-by-height));
}

.notes_header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 100%;
   padding: calc(5 * var(--scale-by-height)) 0;
}

.note_title {
   font-size: calc(24 * var(--scale-by-height));
   font-weight: 600;
   margin: calc(5 * var(--scale-by-height));
   color: #22006a;
}

.add_note_text {
   width: max-content;
   font-size: calc(16 * var(--scale-by-height));
   margin: 0;
   margin-top: calc(5 * var(--scale-by-height));
   visibility: hidden;
}

.note_edit, .note_cancel {
   color: #FFF;
   font-size: calc(22 * var(--scale-by-height));
   font-weight: 600;
   width: calc(130 * var(--scale-by-height));
   padding: calc(5 * var(--scale-by-height));
   border: 0;
   border-radius: calc(10 * var(--scale-by-height));
   background: #70D8AC;
   cursor: pointer;
}

.note_cancel {
   width: calc(130 * var(--scale-by-height));
   background: #22006a;
   margin-right: calc(-250 * var(--scale-by-height));
}

.note_box {
   display: flex;
   background-color: hsl(0, 0%, 90%);
   border-radius: calc(5 * var(--scale-by-height));
   width: 100%;
   height: calc(360 * var(--scale-by-height));
   padding: calc(15 * var(--scale-by-height));
   margin: calc(10 * var(--scale-by-height)) 0;
}

textarea.note_box {
   font-family: "Barlow", sans-serif;
   font-weight: 600;
   font-size: calc(20 * var(--scale-by-height));
   resize: none;
   border: calc(2 * var(--scale-by-height)) solid #22006a;
   background-color: hsl(0, 0%, 95%);
}

.note_box:focus {
   outline: none;
}

.note_contents {
   margin: 0;
   font-weight: 600;
   font-size: calc(20 * var(--scale-by-height));
}

.button_disabled {
   background-color: #B4D6C7;
   cursor: not-allowed;
}

.disabled_text {
   visibility: visible;
}

.session_popup {
   position: absolute;
   display: flex;
   flex-direction: column;
   left: 50vw;
   top: 50vh;
   transform: translate(-50%, -50%);
   align-items: center;
   justify-content: center;
   gap: max(calc(15px * 0.6), calc(15vh * 59 / 725));
   font-weight: 700;
   background: #FFFFFF;
   box-shadow: calc(5 * var(--scale-by-height)) calc(8 * var(--scale-by-height)) calc(8 * var(--scale-by-height)) calc(6 * var(--scale-by-height)) rgba(0, 0, 0, 0.15);
   border-radius: calc(12 * var(--scale-by-height));
   width: max-content;
}

.popup_header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 100%;
   padding: max(calc(20px * 0.6), calc(20vh * 59 / 725)) max(calc(30px * 0.6), calc(30vh * 59 / 725));
   border-bottom: #656565 solid calc(1 * var(--scale-by-height));
   margin-bottom: calc(10 * var(--scale-by-height));
}

.popup_title {
   color: #000;
   font-size: calc(32 * var(--scale-by-height));
   font-weight: 700;
   margin: 0;
}

.popup_exit {
   margin-top: calc(3 * var(--scale-by-height));
   cursor: pointer;
}

.reschedule_info {
   color: #000;
   font-size: calc(24 * var(--scale-by-height));
   font-weight: 400;
   margin: 0 calc(40 * var(--scale-by-height));
}

.reschedule_info > span {
   font-size: calc(32 * var(--scale-by-height));
}

.reschedule_legend {
   color: #656565;
   font-size: calc(16 * var(--scale-by-height));
   font-weight: 400;
   text-align: center;
   margin: calc(10 * var(--scale-by-height)) calc(30 * var(--scale-by-height));
   line-height: 150%;
}

.legend_purple {
   background-color: #22006a;
   color: #fff;
   font-weight: 600;
   border: #22006a solid calc(2 * var(--scale-by-height));
   border-radius: calc(5 * var(--scale-by-height));
}

.reschedule_button, .confirm_yes, .confirm_no {
   width: calc(250 * var(--scale-by-height));
   height: calc(60 * var(--scale-by-height));
   color: #FFF;
   font-size: calc(32 * var(--scale-by-height));
   font-weight: 600;
   border: 0;
   margin: calc(20 * var(--scale-by-height));
   margin-bottom: calc(40 * var(--scale-by-height));
   border-radius: calc(10 * var(--scale-by-height));
   background-color: #70D8AC;
   cursor: pointer;
}

.reschedule_confirm {
   display: flex;
   align-items: center;
   margin-bottom: calc(20 * var(--scale-by-height));
}

.confirm_text {
   font-size: calc(36 * var(--scale-by-height));
   font-weight: 700;
   margin: 0 calc(10 * var(--scale-by-height));
}

.confirm_yes, .confirm_no {
   width: calc(100 * var(--scale-by-height));
   margin: calc(20 * var(--scale-by-height)) calc(10 * var(--scale-by-height));
}

.confirm_no {
   background-color: #22006a;
}