.popup {
   position: absolute;
   left: 50vw;
   top: 50vh;
   transform: translate(-50%, -50%);
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: calc(20 * var(--scale-by-height));
   font-weight: 700;
   background: #FFFFFF;
   box-shadow: calc(5 * var(--scale-by-height)) calc(8 * var(--scale-by-height)) calc(8 * var(--scale-by-height)) calc(6 * var(--scale-by-height)) rgba(0, 0, 0, 0.15);
   border-radius: calc(10 * var(--scale-by-height));
   width: max-content;
   max-width: calc(800 * var(--scale-by-height));
}

.popup_wide {
   max-width: calc(1000 * var(--scale-by-height));
}

.popup_header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 100%;
   gap: calc(50 * var(--scale-by-height));
   padding: calc(20 * var(--scale-by-height)) calc(30 * var(--scale-by-height));
   border-bottom: #656565 solid calc(1 * var(--scale-by-height));
   margin-bottom: calc(10 * var(--scale-by-height));
}

.popup_title {
   color: #000;
   font-size: calc(32 * var(--scale-by-height));
   font-weight: 700;
   margin: 0;
}

.popup_title > span {
   color: #656565;
   font-size: calc(28 * var(--scale-by-height));
   font-style: italic;
   font-weight: 500;
}

.popup_exit {
   margin-top: calc(4 * var(--scale-by-height));
   cursor: pointer;
}

.popup_main {
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   gap: calc(40 * var(--scale-by-height));
   width: 100%;
   padding: 0 calc(35 * var(--scale-by-height));
}

.main_image {
   height: calc(125 * var(--scale-by-height));
   width: calc(125 * var(--scale-by-height));
}

.main_info {
   display: flex;
   flex-direction: column;
   gap: calc(20 * var(--scale-by-height));
}

.popup_row {
   display: flex;
   justify-content: space-between;
   width: 100%;
   gap: calc(50 * var(--scale-by-height));
   padding: 0 calc(30 * var(--scale-by-height));
}

.row_patients {
   /* justify-content: space-evenly; */
   padding: 0;
}

.popup_info {
   font-size: calc(24 * var(--scale-by-height));
   font-weight: 500;
   text-align: center;
   margin: 0;
}

.popup_info > span {
   color: #22006a;
   font-weight: 700;
}

.popup_sessions {
   color: #22006a;
   font-size: calc(30 * var(--scale-by-height));
   margin: calc(10 * var(--scale-by-height));
   margin-bottom: 0;
}

.sessions_container {
   display: flex;
   flex-direction: column;
   padding: 0 calc(15 * var(--scale-by-height));
   gap: calc(20 * var(--scale-by-height));
   margin: 0 calc(20 * var(--scale-by-height));
   margin-bottom: calc(40 * var(--scale-by-height));
   overflow: auto;
   max-height: calc(420 * var(--scale-by-height));
}

.popup_tall {
   max-height: calc(500 * var(--scale-by-height));
}

.session_card {
   display: flex;
   flex-direction: column;
   gap: calc(5 * var(--scale-by-height));
   padding: calc(10 * var(--scale-by-height)) calc(20 * var(--scale-by-height));
   background-color: #fff;
   border-radius: calc(10 * var(--scale-by-height));
   box-shadow: 0 calc(4 * var(--scale-by-height)) calc(4 * var(--scale-by-height)) 0 rgba(0, 0, 0, 0.25);
   margin-bottom: calc(5 * var(--scale-by-height));
}

.session_info, .info_section {
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: calc(60 * var(--scale-by-height));
   width: 100%;
}

.info_section {
   width: 70%;
}

.session_therapy, .session_datetime, .session_notes {
   font-size: calc(24 * var(--scale-by-height));
   font-weight: 600;
   margin: 0;
}

.session_therapy {
   font-weight: 700;
   width: 30%;
}

.session_notes {
   color: #636363;
   font-weight: 500;
}

.notes_link {
   color: #22006a;
   font-weight: 600;
   text-decoration: underline;
   cursor: pointer;
}

.note_box {
   display: flex;
   flex-wrap: wrap;
   background-color: hsl(0, 0%, 90%);
   border-radius: calc(5 * var(--scale-by-height));
   max-height: calc(210 * var(--scale-by-height));
   width: min-content;
   flex-grow: 1;
   overflow: auto;
   padding: calc(15 * var(--scale-by-height));
   margin: calc(10 * var(--scale-by-height)) 0;
}

textarea.note_box {
   height: calc(165 * var(--scale-by-height));
   font-family: "Barlow", sans-serif;
   font-weight: 600;
   font-size: calc(20 * var(--scale-by-height));
   resize: none;
   border: calc(2 * var(--scale-by-height)) solid #22006a;
   background-color: hsl(0, 0%, 95%);
}

.note_box:focus {
   outline: none;
}

.box_container {
   display: flex;
}

.box_bounds {
   width: calc(1 * var(--scale-by-height));
}

.note_contents {
   margin: 0;
   font-weight: 600;
   font-size: calc(20 * var(--scale-by-height));
}

.buttons_container {
   display: flex;
   justify-content: center;
   margin-top: calc(-5 * var(--scale-by-height));
}

.note_edit, .note_cancel {
   color: #FFF;
   font-size: calc(22 * var(--scale-by-height));
   font-weight: 600;
   width: calc(120 * var(--scale-by-height));
   padding: calc(5 * var(--scale-by-height));
   border: 0;
   border-radius: calc(10 * var(--scale-by-height));
   background: #70D8AC;
   cursor: pointer;
}

.note_cancel {
   background: #22006a;
   margin-right: calc(-250 * var(--scale-by-height));
}
