.therapist_patients_main {
   background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.8) 20%,
             rgba(112, 216, 172, 0.3) 75%) /*,url("../assets/login_bg4.jpg")*/ ;
   background-size: cover;
   background-position: top center;
   background-attachment: fixed;
   position: relative;
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: calc(40 * var(--scale-by-height));
   padding: calc(50 * var(--scale-by-height));
   height: calc(100vh - max(calc(60px * 0.6), calc(60vh * 59 / 725)));
   min-height: 675px;
}

.covered_by_popup {
   opacity: 50%;
   filter: blur(4px);
   -webkit-filter: blur(4px);
}

.popup_separate {
   position: absolute;
   left: 0;
   top: max(calc(60px * 0.6), calc(60vh * 59 / 725));
   width: 100%;
   height: calc(100vh - max(calc(60px * 0.6), calc(60vh * 59 / 725)));
}

.patients_title {
   color: #000;
   font-size: calc(36 * var(--scale-by-height));
   font-weight: 500;
   margin: 0;
}

.patients_title > span {
   color: #22006a;
   font-size: calc(40 * var(--scale-by-height));
   font-weight: 700;
}

.table_search {
   width: calc(500 * var(--scale-by-height));
   font-size: calc(20 * var(--scale-by-height));
   padding: calc(10 * var(--scale-by-height));
   padding-left: calc(14 * var(--scale-by-height));
   /* background: #F4F3F3; */
   border: calc(2 * var(--scale-by-height)) solid hsl(0, 0%, 90%);
   border-radius: calc(10 * var(--scale-by-height));
}

.table_search:focus {
   outline: none;
}
