.react-toggle {
   touch-action: pan-x;
 
   display: inline-block;
   position: relative;
   cursor: pointer;
   background-color: transparent;
   border: 0;
   padding: 0;
 
   -webkit-touch-callout: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
 
   -webkit-tap-highlight-color: rgba(0,0,0,0);
   -webkit-tap-highlight-color: transparent;
 }
 
 .react-toggle-screenreader-only {
   border: 0;
   clip: rect(0 0 0 0);
   height: calc(1 * var(--scale-by-height) * 1.2);
   margin: -calc(1 * var(--scale-by-height) * 1.2);
   overflow: hidden;
   padding: 0;
   position: absolute;
   width: calc(1 * var(--scale-by-height) * 1.2);
 }
 
 .react-toggle--disabled {
   cursor: not-allowed;
   opacity: 0.5;
   -webkit-transition: opacity 0.25s;
   transition: opacity 0.25s;
 }
 
 .react-toggle-track {
   width: calc(52 * var(--scale-by-height) * 1.2);
   height: calc(24 * var(--scale-by-height) * 1.2);
   padding: 0;
   border-radius: calc(30 * var(--scale-by-height) * 1.2);
   background-color: hsl(259, 35%, 40%);
   -webkit-transition: all 0.2s ease;
   -moz-transition: all 0.2s ease;
   transition: all 0.2s ease;
 }
 
 .react-toggle:hover:not(.react-toggle--disabled) .react-toggle-track {
   background-color: hsl(259, 100%, 21%);
 }
 
 .react-toggle--checked .react-toggle-track {
   background-color: hsl(155, 57%, 45%);
 }
 
 .react-toggle--checked:hover:not(.react-toggle--disabled) .react-toggle-track {
   background-color: hsl(155, 57%, 55%);
 }
 
 .react-toggle-track-check {
   position: absolute;
   width: calc(14 * var(--scale-by-height) * 1.2);
   height: calc(10 * var(--scale-by-height) * 1.2);
   top: calc(0 * var(--scale-by-height) * 1.2);
   bottom: calc(0 * var(--scale-by-height) * 1.2);
   margin-top: auto;
   margin-bottom: auto;
   line-height: 0;
   left: calc(8 * var(--scale-by-height) * 1.2);
   opacity: 0;
   -webkit-transition: opacity 0.25s ease;
   -moz-transition: opacity 0.25s ease;
   transition: opacity 0.25s ease;
 }
 
 .react-toggle--checked .react-toggle-track-check {
   opacity: 1;
   -webkit-transition: opacity 0.25s ease;
   -moz-transition: opacity 0.25s ease;
   transition: opacity 0.25s ease;
 }
 
 .react-toggle-track-x {
   position: absolute;
   width: calc(10 * var(--scale-by-height) * 1.2);
   height: calc(10 * var(--scale-by-height) * 1.2);
   top: calc(0 * var(--scale-by-height) * 1.2);
   bottom: calc(0 * var(--scale-by-height) * 1.2);
   margin-top: auto;
   margin-bottom: auto;
   line-height: 0;
   right: calc(12 * var(--scale-by-height) * 1.2);
   opacity: 1;
   -webkit-transition: opacity 0.25s ease;
   -moz-transition: opacity 0.25s ease;
   transition: opacity 0.25s ease;
 }
 
 .react-toggle--checked .react-toggle-track-x {
   opacity: 0;
 }
 
 .react-toggle-thumb {
   transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
   position: absolute;
   top: calc(1 * var(--scale-by-height) * 1.2);
   left: calc(1 * var(--scale-by-height) * 1.2);
   width: calc(22 * var(--scale-by-height) * 1.2);
   height: calc(22 * var(--scale-by-height) * 1.2);
   border: calc(1 * var(--scale-by-height) * 1.2) solid #22006a;
   border-radius: 50%;
   background-color: #FAFAFA;
 
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
 
   -webkit-transition: all 0.25s ease;
   -moz-transition: all 0.25s ease;
   transition: all 0.25s ease;
 }
 
 .react-toggle--checked .react-toggle-thumb {
   left: calc(27 * var(--scale-by-height) * 1.2);
   border-color: #70d8ac;
 }